
@{
    ViewBag.Title = "snag_analysis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>snag_analysis</h2>


<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    .main_input {
        height: 100%;
    }

    .table-bordered {
        border-bottom: 1px solid black;
    }

    body {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
</style>


<table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
    <tr style="background-color: #5f98ab;">
        <th colspan="8"><center style="font-size:larger;color:white">est/QC FORMS</center></th>

    </tr>
    <tr>
        <th>
            SI NO
        </th>
        <th>Process</th>
        <th>
            Work Station Process
        </th>
        <th>
            Minor
        </th>

        <th>
            Major
        </th>
        <th>
            Critical
        </th>
        <th>
            Limit
        </th>
        <th>
            Total
        </th>
    </tr>

    <tr>
        <th rowspan="9">
            1
        </th>
        <th rowspan="9">SHEET METAL FABRICATION </th>
        <th>Material </th>
        <th><input type="text" id="minor1"></th>
        <th><input type="text" id="major1"></th>
        <th><input type="text" id="critical1"></th>
        <th></th>
        <th><span id="total1"></span></th>

    </tr>
    <tr>

        <th>
            Dimension

        </th>
        <th><input type="text" id="minor2"></th>
        <th><input type="text" id="major2"></th>
        <th><input type="text" id="critical2"></th>
        <th> </th>
        <th><span id="total2"></span></th>
    </tr>
    <tr>

        <th>
            Shearing

        </th>
        <th><input type="text" id="minor3"></th>
        <th><input type="text" id="major3"></th>
        <th><input type="text" id="critical3"></th>
        <th> </th>
        <th><span id="total3"></span></th>
    </tr>
    <tr>

        <th>
            Punching

        </th>
        <th><input type="text" id="minor4"></th>
        <th><input type="text" id="major4"></th>
        <th><input type="text" id="critical4"></th>
        <th>

        </th>
        <th><span id="total4"></span></th>
    </tr>


    <tr>

        <th>
            Bending


        </th>
        <th><input type="text" id="minor5"></th>
        <th><input type="text" id="major5"></th>
        <th><input type="text" id="critical5"></th>
        <th>

        </th>
        <th><span id="total5"></span></th>
    </tr>

    <tr>

        <th>
            Welding


        </th>
        <th><input type="text" id="minor6"></th>
        <th><input type="text" id="major6"></th>
        <th><input type="text" id="critical6"></th>
        <th>

        </th>
        <th><span id="total6"></span></th>
    </tr>
    <tr>

        <th>
            Drilling


        </th>
        <th><input type="text" id="minor7"></th>
        <th><input type="text" id="major7"></th>
        <th><input type="text" id="critical7"></th>
        <th>

        </th>
        <th><span id="total7"></span></th>
    </tr>
    <tr>

        <th>
            Colour


        </th>
        <th><input type="text" id="minor8"></th>
        <th><input type="text" id="major8"></th>
        <th><input type="text" id="critical8"></th>
        <th>

        </th>
        <th><span id="total8"></span></th>
    </tr>
    <tr>

        <th>
            Paint Quality


        </th>
        <th><input type="text" id="minor9"></th>
        <th><input type="text" id="major9"></th>
        <th><input type="text" id="critical9"></th>
        <th>

        </th>
        <th><span id="total19"></span></th>
    </tr>
    <!-- Duplicate for SL NO 2 -->
    <tr>
        <th rowspan="14">
            2
        </th>
        <th rowspan="14">SHEET METAL FABRICATION</th>
        <th>Material</th>
        <th><input type="text" id="minor10"></th>
        <th><input type="text" id="major10"></th>
        <th><input type="text" id="critical10"></th>
        <th></th>
        <th><span id="total10"></span></th>
    </tr>
    <tr>

        <th>Dimension </th>
        <th><input type="text" id="minor11"></th>
        <th><input type="text" id="major11"></th>
        <th><input type="text" id="critical11"></th>
        <th> </th>
        <th><span id="total11"></span></th>
    </tr>
    <tr>

        <th>
            Grinding
        </th>
        <th><input type="text" id="minor12"></th>
        <th><input type="text" id="major12"></th>
        <th><input type="text" id="critical12"></th>
        <th>

        </th>
        <th><span id="total12"></span></th>
    </tr>
    <tr>

        <th>
            Punching
        </th>
        <th><input type="text" id="minor13"></th>
        <th><input type="text" id="major13"></th>
        <th><input type="text" id="critical13"></th>
        <th>

        </th>
        <th><span id="total13"></span></th>
    </tr>
    <tr>

        <th>
            Bending
        </th>
        <th><input type="text" id="minor14"></th>
        <th><input type="text" id="major15"></th>
        <th><input type="text" id="critical16"></th>
        <th>

        </th>
        <th><span id="total16"></span></th>
    </tr>
    <tr>

        <th>
            Sharp Edges
        </th>
        <th><input type="text" id="minor17"></th>
        <th><input type="text" id="major17"></th>
        <th><input type="text" id="critical17"></th>
        <th>

        </th>
        <th><span id="total17"></span></th>
    </tr>
    <tr>

        <th>
            Sequence of phases
        </th>
        <th><input type="text" id="minor18"></th>
        <th><input type="text" id="major18"></th>
        <th><input type="text" id="critical18"></th>
        <th>

        </th>
        <th><span id="total18"></span></th>
    </tr>
    <tr>

        <th>
            Sleeving/Epoxy Coating
        </th>
        <th><input type="text" id="minor19"></th>
        <th><input type="text" id="major19"></th>
        <th><input type="text" id="critical19"></th>
        <th>

        </th>
        <th><span id="total19"></span></th>
    </tr>
    <tr>

        <th>
            Clearance and Creapage
        </th>
        <th><input type="text" id="minor20"></th>
        <th><input type="text" id="major20"></th>
        <th><input type="text" id="critical20"></th>
        <th>

        </th>
        <th><span id="total20"></span></th>
    </tr>
    <tr>

        <th>
            Supports/Insulator
        </th>
        <th><input type="text" id="minor21"></th>
        <th><input type="text" id="major21"></th>
        <th><input type="text" id="critical21"></th>
        <th>

        </th>
        <th><span id="total21"></span></th>
    </tr>
    <tr>

        <th>
            Fixing of Busbars
        </th>
        <th><input type="text" id="minor22"></th>
        <th><input type="text" id="major22"></th>
        <th><input type="text" id="critical22"></th>
        <th>

        </th>
        <th><span id="total22"></span></th>
    </tr>
    <tr>

        <th>
            Torque tightness
        </th>
        <th><input type="text" id="minor23"></th>
        <th><input type="text" id="major23"></th>
        <th><input type="text" id="critical23"></th>
        <th>

        </th>
        <th><span id="total23"></span></th>
    </tr>
    <tr>

        <th>
            Neutral Links/Terminals/Connecting Links
        </th>
        <th><input type="text" id="minor24"></th>
        <th><input type="text" id="major24"></th>
        <th><input type="text" id="critical24"></th>
        <th>

        </th>
        <th><span id="total24"></span></th>
    </tr>
    <tr>

        <th>
            Earthing links/Terminals
        </th>
        <th><input type="text" id="minor25"></th>
        <th><input type="text" id="major25"></th>
        <th><input type="text" id="critical25"></th>
        <th>

        </th>
        <th><span id="total25"></span></th>
    </tr>
</table>

<script>
    // Function to calculate the total for a row
    function calculateTotal(rowNumber) {
        var minor = parseFloat(document.getElementById("minor" + rowNumber).value) || 0;
        var major = parseFloat(document.getElementById("major" + rowNumber).value) || 0;
        var critical = parseFloat(document.getElementById("critical" + rowNumber).value) || 0;

        // Calculate the sum of Minor, Major, and Critical
        var sum = minor + major + critical;

        // Update the Total column for the current row
        document.getElementById("total" + rowNumber).innerText = sum.toFixed(2);
    }

    // Calculate totals on input change
    document.addEventListener("input", function (event) {
        var inputId = event.target.id;
        var rowNumber = inputId.match(/\d+/)[0]; // Extract row number from input id
        calculateTotal(rowNumber);
    });
</script>
