@{
    ViewBag.Title = "Security";

}

<style>
    .card-title {
        margin-bottom: 1rem;
        margin-top: 0.75rem;
        font-size: 23px;
    }

    .card-header {
        padding: 0em;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, 0.03);
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        background-image: none;
        margin: 0px;
    }

    body {
        font-family: Arial, sans-serif;
    }

    /* Style the table */
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        background-color: #f2f2f2; /* Set the background color */
        border-radius: 8px; /* Optional: Add rounded corners */
    }

    /* Style table header */
    th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd; /* Add a bottom border to each table cell */
    }

    /* Style alternate rows (optional) */
    tr:nth-child(even) {
        background-color: #e6e6e6; /* Set a different background color for even rows */
    }

    .add_btn {
        margin-top: 10px;
    }
</style>


<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-header" style="background-color: #73747a; color: white;">
                    <h2 class="card-title" style="padding-top: 8px">Security Group</h2>
                </div>

                <div class="container" id="app_method">
                    <div class="row">
                        <div class="form-group col-md-5">
                            <label for="UserID">ID<spna style="color:red;">*</spna></label>
                            <div class="input-group">
                                <input type="text" id="UserID" placeholder="Enter User ID" class="form-control Field">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-success" onclick="clearFields();"> <i class="las la-plus"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="Fname">Name<spna style="color:red;">*</spna></label>
                            <input id="Fname" type="text" class="form-control Field" placeholder=" Enter Name" />
                        </div>
                        <div class="col-md-2">
                            <br />
                            <button class="btn btn-primary" id="save_btn" onclick="getvalue();" type="button" style="margin-top:4px;width:82%;">Save</button>
                        </div>
                    </div>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Sr#</th>
                            <th scope="col">Role Description</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>

                            <td id="warehouseCell">Warehouse</td>
                            <td id="statusCell">Active</td>

                            <td>
                                <button class="btn btn-danger">
                                    <i class="lar la-edit"></i> Edit
                                </button>
                                <button class="btn btn-primary">
                                    <i class="las la-trash-alt"></i> Delete
                                </button>
                                <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                                    <i class="las la-hand-point-right"></i></i>Security Rights
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Office</td>
                            <td>Active</td>
                            <td>
                                <button class="btn btn-danger">
                                    <i class="lar la-edit"></i> Edit
                                </button>
                                <button class="btn btn-primary">
                                    <i class="las la-trash-alt"></i> Delete
                                </button>
                                <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                                    <i class="las la-hand-point-right"></i></i> Security Rights
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td id="srHeader">Branch</td>
                            <td>Active</td>
                            <td>
                                <button class="btn btn-danger">
                                    <i class="lar la-edit"></i> Edit
                                </button>
                                <button class="btn btn-primary">
                                    <i class="las la-trash-alt"></i> Delete
                                </button>
                                <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                                    <i class="las la-hand-point-right"></i></i> Security Rights
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Admin</td>
                            <td>Active</td>
                            <td>
                                <button class="btn btn-danger">
                                    <i class="lar la-edit"></i> Edit
                                </button>
                                <button class="btn btn-primary">
                                    <i class="las la-trash-alt"></i> Delete
                                </button>
                                <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                                    <i class="las la-hand-point-right"></i> Security Rights
                                </button>
                            </td>
                        </tr>
                        <!-- Add more rows as needed -->
                    </tbody>
                    <thead>
                        <tr>
                            <th scope="col">Sr#</th>
                            <th scope="col">Role Description</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color:blue">
                    @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                    <h3 class="modal-title" style="color:white;" >Add Security Group</h3>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">

                            <div class="form-group  col-md-4">


                                <label for="Gender" class="form-label"> Module Option <spna style="color:red;">*</spna></label>
                                <select class="form-select form-control" id="Gender" name="Gender">
                                    <option>Select</option>
                                    <option value="M">1</option>
                                    <option value="F">2</option>


                                </select>
                                <br>

                            </div>


                            <div class="col-md-2">
                                <button class="btn btn-primary" id="save_btn" type="button" style="margin-top:23px;width:99%;">Save</button>
                            </div>

                        </div>
                        <div class="row">
                            <table class="table" style="width:50%;">

                                <tbody>
                                    <tr>

                                        <td>Option</td>
                                        <td>Option</td>

                                    </tr>
                                    <tr>

                                        <td>Option</td>
                                        <td>Option</td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>

    <script>
        function getvalue(userIDValue) {
            var userIDValue = $('#UserID').val();
            var fnameValue = $('#Fname').val();
            alert("UserID Value: " + userIDValue + "\nFname Value: " + fnameValue);
            document.getElementById('srHeader').innerHTML = '' + userIDValue;
        }
        function clearFields() {
            $('#UserID').val('');
            $('#Fname').val('');
            alert("Refresh fields");
        }
    </script>


    




    

