
@{
    ViewBag.Title = "QF11I";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>QF11I</h2>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    .main_input {
        height: 100%;
    }

    .table-bordered {
        border-bottom: 1px solid black;
    }
</style>
<body>
    <div class="main_heading" style="background-color: #018bd3;height: 70px;">
        <h3 style="text-align: center; padding-top:18px;color: white;"><b>Cooper</b> </h3>
    </div>
    @*--table5--*@

    <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66; margin-bottom: 10px;">

        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">COPPER COATINGS</center></th>

        </tr>
        <tr>
            <th>SL No.</th>
            <th>Manufacturing Check Points</th>
            <th colspan="2">Checked</th>
            <th>Operator</th>
        </tr>
        <tr>
            <th></th>
            <th> </th>
            <th>Yes </th>
            <th>No </th>


        </tr>


        <!-- Row 1 for Select the correct raw material for the bus bar as per approved drawing -->
        <tr>
            <th>1</th>
            <th>
                Select the correct processed/semi-finished parts for coating as per approved drawing.
                <br>
                <input type="checkbox" id="Copper" name="Copper" value="Yes">
                <label for="copperHDHC">Copper</label>
                <input type="checkbox" id="Copper" name="Copper" value="Yes">
                <label for="Copper">Fully round edge</label>

                <input type="checkbox" id="copperSlightlyRoundEdge" name="copperSlightlyRoundEdge" value="Yes">
                <label for="copperSlightlyRoundEdge">Slightly round edge</label>

                <input type="checkbox" id="copperHDHC" name="copperHDHC" value="Yes">
                <label for="copperHDHC">HDHC</label>

                <input type="checkbox" id="copperFullHard" name="copperFullHard" value="Yes">
                <label for="copperFullHard">Full Hard</label>

                <input type="checkbox" id="copperHalfHard" name="copperHalfHard" value="Yes">
                <label for="copperHalfHard">Half Hard</label><br>
            </th>
            <th style="color: plum; text-align: center;"><input type="radio" name="radio" value="Yes"></th>
            <th style="color: plum; text-align: center;"><input type="radio" name="radio" value="No"></th>
            <th style="text-align: center;">
                <select class="form-control" style="width: 100px;">
                    <option value="Option1">Option 1</option>
                    <option value="Option2">Option 2</option>
                    <!-- Add more options as needed -->
                </select>
            </th>
        </tr>

        <!-- Row 2 for Ensure that the dimensions of the processed parts are within the acceptable tolerance limit -->
        <tr>
            <th>2</th>
            <th>
                No folds, air bubbles, scratches, damages, sharp edges, and burrs on the coatings.
            </th>
            <th style="color: plum; text-align: center;"><input type="radio" name="radio" value="Yes"></th>
            <th style="color: plum; text-align: center;"><input type="radio" name="radio" value="No"></th>
            <th style="text-align: center;">
                <select class="form-control" style="width: 100px;">
                    <option value="Option1">Option 1</option>
                    <option value="Option2">Option 2</option>
                    <!-- Add more options as needed -->
                </select>
            </th>
        </tr>

        <tr>
            <th>3</th>
            <th>
                Ensure that the correct powder has been opted for the painting process.
                <br><input type="checkbox" id="Copper" name="Copper" value="Yes">
                <label for="copperHDHC">Epoxy </label>
                <input type="checkbox" id="Copper" name="Copper" value="Yes">
                <label for="Copper">Heat Shrinkable Tube  </label>

                <input type="checkbox" id="copperSlightlyRoundEdge" name="copperSlightlyRoundEdge" value="Yes">
                <label for="copperSlightlyRoundEdge">Tin </label>

                <input type="checkbox" id="copperHDHC" name="copperHDHC" value="Yes">
                <label for="copperHDHC">Silver</label>

                <input type="checkbox" id="copperFullHard" name="copperFullHard" value="Yes">
                <label for="copperFullHard">Color RED  </label>

                <input type="checkbox" id="copperHalfHard" name="copperHalfHard" value="Yes">
                <label for="copperHalfHard">ColorRED </label><br>
            </th>
            <th style="color: plum; text-align: center;"><input type="radio" name="radio" value="Yes"></th>
            <th style="color: plum; text-align: center;"><input type="radio" name="radio" value="No"></th>
            <th style="text-align: center;">
                <select class="form-control" style="width: 100px;">
                    <option value="Option1">Option 1</option>
                    <option value="Option2">Option 2</option>
                    <!-- Add more options as needed -->
                </select>
            </th>
        </tr>
        <tr>
            <th>4</th>
            <th>
                Ensure that the dimensions of the coating are within the acceptable tolerance limit provided in the drawing. Tolerance Limit   ±0.5mm & ±0.5°
            </th>
            <th style="color: plum; text-align: center;"><input type="radio" name="radio" value="Yes"></th>
            <th style="color: plum; text-align: center;"><input type="radio" name="radio" value="No"></th>
            <th style="text-align: center;">
                <select class="form-control" style="width: 100px;">
                    <option value="Option1">Option 1</option>
                    <option value="Option2">Option 2</option>
                    <!-- Add more options as needed -->
                </select>
            </th>
        </tr>

        <tr>
            <th>5</th>
            <th>
                Ensure that the powder used for the epoxy coating process is valid and within the shelf-life period.
            </th>
            <th style="color: plum; text-align: center;"><input type="radio" name="radio" value="Yes"></th>
            <th style="color: plum; text-align: center;"><input type="radio" name="radio" value="No"></th>
            <th style="text-align: center;">
                <select class="form-control" style="width: 100px;">
                    <option value="Option1">Option 1</option>
                    <option value="Option2">Option 2</option>
                    <!-- Add more options as needed -->
                </select>
            </th>
        </tr>
        <tr>
            <th>6</th>
            <th>
                Ensure that the BPTM tube used for the sleeving is good and within the shelf-life period.
            </th>
            <th style="color: plum; text-align: center;"><input type="radio" name="radio" value="Yes"></th>
            <th style="color: plum; text-align: center;"><input type="radio" name="radio" value="No"></th>
            <th style="text-align: center;">
                <select class="form-control" style="width: 100px;">
                    <option value="Option1">Option 1</option>
                    <option value="Option2">Option 2</option>
                    <!-- Add more options as needed -->
                </select>
            </th>
        </tr>
        <tr>
            <th>7</th>

            <th>
                Ensure the coating thickness values are measured across all the epoxy/tin/silver treated parts.  <br>
                <input type="checkbox" id="Copper" name="Copper" value="Yes">
                <label for="copperHDHC">Tin (5-8) µm   </label>
                <input type="checkbox" id="Copper" name="Copper" value="Yes">
                <label for="Copper">Silver 5µm</label>

                <input type="checkbox" id="copperSlightlyRoundEdge" name="copperSlightlyRoundEdge" value="Yes">
                <label for="copperSlightlyRoundEdge">Epoxy 1.2mm </label>
                <br>

            </th>

            <th style="color: plum; text-align: center;"><input type="radio" name="radio" value="Yes"></th>
            <th style="color: plum; text-align: center;"><input type="radio" name="radio" value="No"></th>
            <th style="text-align: center;">
                <select class="form-control" style="width: 100px;">
                    <option value="Option1">Option 1</option>
                    <option value="Option2">Option 2</option>
                    <!-- Add more options as needed -->
                </select>
            </th>
        </tr>
        <tr>
            <th>8</th>
            <th>
                Ensure that the coating thickness values are within the acceptable limits as per the approved drawings and local regulations.

                Individual areas coating thickness shall not fall under the minimum acceptable value.
                <h5>(Keep the QF 5E checklist for epoxy coating thickness record)</h5>
                <h5>(Keep the QF 5F checklist for tin coating thickness record)</h5>
                <h5>(Keep the QF 5G checklist for silver coating thickness record)</h5>
            </th>
            <th style="color: plum; text-align: center;"><input type="radio" name="radio" value="Yes"></th>
            <th style="color: plum; text-align: center;"><input type="radio" name="radio" value="No"></th>
            <th style="text-align: center;">
                <select class="form-control" style="width: 100px;">
                    <option value="Option1">Option 1</option>
                    <option value="Option2">Option 2</option>
                    <!-- Add more options as needed -->
                </select>
            </th>
        </tr>

        <tr>
            <th>9</th>
            <th>
                Ensure that all the holes are deburred and buffed properly to get proper electrical contact.
            </th>
            <th style="color: plum; text-align: center;"><input type="radio" name="radio" value="Yes"></th>
            <th style="color: plum; text-align: center;"><input type="radio" name="radio" value="No"></th>
            <th style="text-align: center;">
                <select class="form-control" style="width: 100px;">
                    <option value="Option1">Option 1</option>
                    <option value="Option2">Option 2</option>
                    <!-- Add more options as needed -->
                </select>
            </th>
        </tr>
        <tr>
            <th>10</th>
            <th>
                Ensure to store the processed parts in such a way as to avoid all risks of deterioration of the coating.
            </th>
            <th style="color: plum; text-align: center;"><input type="radio" name="radio" value="Yes"></th>
            <th style="color: plum; text-align: center;"><input type="radio" name="radio" value="No"></th>
            <th style="text-align: center;">
                <select class="form-control" style="width: 100px;">
                    <option value="Option1">Option 1</option>
                    <option value="Option2">Option 2</option>
                    <!-- Add more options as needed -->
                </select>
            </th>
        </tr>
        <tr>
            <th>11</th>
            <th>
                Ensure to mark each processed parts for identification or traceability.
            </th>
            <th style="color: plum; text-align: center;"><input type="radio" name="radio" value="Yes"></th>
            <th style="color: plum; text-align: center;"><input type="radio" name="radio" value="No"></th>
            <th style="text-align: center;">
                <select class="form-control" style="width: 100px;">
                    <option value="Option1">Option 1</option>
                    <option value="Option2">Option 2</option>
                    <!-- Add more options as needed -->
                </select>
            </th>
        </tr>
        <tr>
            <th>12</th>
            <th>
                Processed parts are as per the approved drawings Semi-finished product part number:
            </th>
            <th style="color: plum; text-align: center;"><input type="radio" name="radio" value="Yes"></th>
            <th style="color: plum; text-align: center;"><input type="radio" name="radio" value="No"></th>
            <th style="text-align: center;">
                <select class="form-control" style="width: 100px;">
                    <option value="Option1">Option 1</option>
                    <option value="Option2">Option 2</option>
                    <!-- Add more options as needed -->
                </select>
            </th>
        </tr>
    </table>
    <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66; margin-bottom: 10px;">

        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">Quality Control</center></th>

        </tr>
        <tr>
            <th>SL No.</th>
            <th>Manufacturing Check Points</th>
            <th colspan="2">Checked</th>
            <th>Operator</th>
        </tr>
        <tr>
            <th></th>
            <th> </th>
            <th>Yes </th>
            <th>No </th>


        </tr>
        <tr>
            <th>1</th>
            <th>Verify and validate the semi-finished product conformity as per approved project specifications and drawings.</th>
            <th style="color: plum; text-align: center;"><input type="radio" name="radio" value="Yes"></th>
            <th style="color: plum; text-align: center;"><input type="radio" name="radio" value="No"></th>
            <th style="text-align: center;">
                <select class="form-control" style="width: 100px;">
                    <option value="Option1">Option 1</option>
                    <option value="Option2">Option 2</option>
                    <!-- Add more options as needed -->
                </select>
            </th>
        </tr>

        <tr>
            <th>2</th>
            <th>
                If not complied, issue nonconformity report (NCR) and corrective and preventive action (CAPA) requests.
            </th>
            <th style="color: plum; text-align: center;"><input type="radio" name="radio" value="Yes"></th>
            <th style="color: plum; text-align: center;"><input type="radio" name="radio" value="No"></th>
            <th style="text-align: center;">
                <select class="form-control" style="width: 100px;">
                    <option value="Option1">Option 1</option>
                    <option value="Option2">Option 2</option>
                    <!-- Add more options as needed -->
                </select>
            </th>

        </tr>
    </table>

    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary" style="background-color:#191c3696;margin-bottom:15px; margin-left:1050px;">Submit</button>
    </div>
</body>