
@{
    ViewBag.Title = "qwqw";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hello World</h2>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Green Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/checklist.css" rel="stylesheet" />


</head>

<body style="padding-bottom: 0px;">

    <!-- ======= Top Bar ======= -->
    <!-- <section id="topbar" class="d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope-fill"></i><a href="mailto:contact@example.com">info@example.com</a>
          <i class="bi bi-phone-fill phone-icon"></i> +1 5589 55488 55
        </div>
        <div class="social-links d-none d-md-block">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
        </div>
      </div>
    </section> -->
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center">

            <h3 class="logo me-auto">
                <a href="~/Qcheck/QulityCheck"<a class="navbar-brand" href="/Home/Dashboard">
    <img class="main-logo" />

    <img src="~/assets/dist/img/Tamco.jpg" id="bg" alt="" />

    <!--<span>AdminPage</span>-->
</a></a>
            </h3>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="~assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar">
                <ul>
                    <li class="dropdown">
                        <a href="#"><span>AMC</span> <i class="bi bi-chevron-right"></i></a>

                        <ul>
                            <li class="dropdown">
                                <a href="#"><span>CheckLists</span> <i class="bi bi-chevron-right"></i></a>


                                <ul>
                                    <li><a href="~/Home/checklist">Annual Maintenance Checklist</a></li>
                                    <li><a href="~/checklist/QF3J">QF 3J - MV Switchgear Dielectric Withstand Test Form</a></li>
                                    <li><a href="~/checklist/QF6Z">QF 6Z - Busbar Milli Volt Drop Test Form</a></li>
                                    <li><a href="~/checklist/QF6J">QF 6J -(OC,EF,UNDER-OVER VOLTAGE) Relay Test Form</a></li>
                                    <li><a href="~/checklist/QF9AAmmeterTestForm">Ammeter Test Form</a></li>
                                    <li><a href="~/checklist/QF9AAmmeterTestForm">Volmeter Test Form</a></li>
                                    <li><a href="~/checklist/QF9CVacuumCircuitBreakerTestForm">Vacuum Circuit Breaker Test Form</a></li>
                                    <li><a href="~/checklist/QF9DEnergyMeterTestform">QF 9D - Energy Meter Test form</a></li>
                                    <li><a href="~/checklist/QF9EMechanicalInterlockTestForm">QF 9E - Mechanical Interlock Test Form</a></li>
                                    <li><a href="~/checklist/QF9FEarthSwitchMillivotDropTestForm">QF 9F-Earth Switch Milli vot Drop Test Form</a></li>
                                    <li><a href="~/checklist/QF9HSchemeCheckTestForm">QF 9G-Point to Point Check Test Form.</a></li>
                                    <li><a href="~/checklist/QF9ICurrentTransformerTestForm">QF 9H - Scheme  Check Test Form.</a></li>
                                    <li><a href="~/checklist/QF9JVoltageTransformerTestForm">QF 9I - Current Transformer Test Form</a></li>
                                    <li><a href="~/checklist/QF9KDimensionalCheckForm">QF 9J  - Voltage  Transformer Test Form</a></li>
                                    <li><a href="~/checklist/QF9LTorqueCheckForm">QF 9K - Dimensional Check Form</a></li>
                                    <li><a href="~/checklist/QF9OTransformerDifferentialprotect">QF 9L - Torque Check Form</a></li>
                                    <li><a href="~/checklist/QuarterlyMaintenanceChecklist">QF 9N - Busbar differential protection Relay Test Form</a></li>
                                    <li><a href="~/checklist/QF9NBusbardifferentialForm">QF 9O - Transformer Differential protect</a></li>
                                    <li><a href="~/checklist/checklist">Quarterly Maintenance Checklist</a></li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#"><span>MS</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="~/MS/QF9S">QF 9S - AMC Method Statement Quarterly</a></li>
                                    <li><a href="~/MS/TamcoProtection">Tamco-Protection MV Switchgear Method St</a></li>
                                    <li><a href="~/MS/TProtectionMV">Tamco-Protection MV Switchgear Method St</a></li>

                                </ul>

                            <li class="dropdown">
                                <a href="#"><span>RA</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="~/RA/RA18173">18173 - RA </a>
                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#"><span>Asset</span> <i class="bi bi-chevron-right"></i></a>

                        <ul>
                            <li><a href="~/AssetMangement/Equipment">Equipment Calibration Register</a></li>
                            <li><a href="~/AssetMangement/Material">Material Traceability Report</a></li>
                            <li><a href="~/AssetMangement/QF9ZE">QF 9Z_Equipment Fault Report</a></li>
                            <li><a href="~/AssetMangement/SiteInstrument">Site Instrument Register-1</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#"><span>FAT</span> <i class="bi bi-chevron-right"></i></a>
                        <ul>
                            <li class="dropdown">
                                <a href="#"><span>Annexure and Test Sheets</span> <i class="bi bi-chevron-right"></i></a>


                                <ul>
                                    <li><a href="~/Asset/Annexure">Annexure 10 - FAT QC Check List</a></li>
                                    <li><a href="~/Asset/QF3J">QF 3J - MV Switchgear Dielectric Withstand Test Form</a></li>
                                    <li><a href="~/Asset/QF6J">QF 6J -(OC,EF,UNDER-OVER VOLTAGE) Relay Test Form.</a></li>
                                    <li><a href="~/Asset/QF6Z">QF 6Z - Busbar Milli Volt Drop Test Form </a></li>
                                    <li><a href="~/Asset/QF8BDOL">QF 8B -FAT- PFC</a></li>
                                    <li><a href="~/Asset/QF8BFATKWHMETER">QF 8B DOL-STATER FAT</a></li>
                                    <li><a href="~/Asset/QF8BFATPFC">QF 8B FAT KWH METER</a></li>
                                    <li><a href="~/Asset/QF8BPRIMARY">QF 8B PRIMARY INJECTION REPORT FAT</a></li>

                                    <li><a href="~/Asset/QF8BStarDelta">QF 8B Star-Delta Module FAT</a></li>
                                    <li><a href="~/Asset/QF8BVFDFATTest">QF 8B VFD FAT Test Report</a></li>
                                    <li><a href="~/Asset/QF8BCircuitBreakerTest">QF 8B-FAT-DB</a></li>
                                    <li><a href="~/Asset/QF8BFATDB">QF 8B-FAT-FDB</a></li>
                                    <li><a href="~/Asset/QF8BFATFDB">QF 8B-FAT-FDB</a></li>
                                    <li><a href="~/Asset/QF8BFATMCC">QF 8B-FAT-MCC</a></li>
                                    <li><a href="~/Asset/QF8BFATMDP">QF 8B-FAT-MDP</a></li>
                                    <li><a href="~/Asset/QF8BFATSMDB_ESBLDP">QF 8B-FAT-SMDB_ESB_LDP</a></li>
                                    <li><a href="~/Asset/QF8BFATStarterpanel">FAT-Starter panel</a></li>
                                    <li><a href="~/Asset/QF8HFATCERTIFICATE">Circuit Breaker Test Form</a></li>
                                    <li><a href="~/Asset/QF9AAmmeterTestForm">FAT CERTIFICATE</a></li>
                                    <li><a href="~/Asset/QF9BVoltmeterTestForm">Ammeter Test Form</a></li>

                                    <li><a href="~/Asset/QF9C">Voltmeter Test Form</a></li>
                                    <li><a href="~/Asset/QF9B">Vacuum Circuit Breaker Test Form</a></li>
                                    <li><a href="~/Asset/QF9E">Energy Meter Test form.</a></li>
                                    <li><a href="~/Asset/QF9F">Mechanical Interlock Test Form</a></li>
                                    <li><a href="~/Asset/QF9G">Earth Switch Milli vot Drop Test Form</a></li>

                                    <li><a href="~/Asset/QF9H">Point to Point Check Test Form</a></li>
                                    <li><a href="~/Asset/QF9J">Scheme  Check Test Form</a></li>
                                    <li><a href="~/Asset/QF9K">Current Transformer Test Form</a></li>
                                    <li><a href="~/Asset/QF9L">Voltage Transformer Test Form</a></li>
                                    <li><a href="~/Asset/QF9N">Dimensional Check Form</a></li>
                                    <li><a href="~/Asset/QF9O">Torque Check Form</a></li>
                                    <li><a href="~/FAT/Annexure and Test Sheets/QF 9N - Busbar differential protection Relay Test Form.html">Busbar differential protection Relay Test Form</a></li>
                                    <li><a href="~/FAT/Annexure and Test Sheets/QF 9O - Transformer Differential protection Relay Test Form.html">Transformer Differential protection Relay Test Form</a></li>



                                </ul>


                            </li>



                            <li class="dropdown">
                                <a href="#"><span>ITP</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="~/Asset/ITP01MV">ITP 01 MV </a></li>
                                    <li><a href="~/Asset/ITP02LV">ITP 02 LV  </a></li>



                                </ul>
                            </li>

                            <li><a href="#">Sample Header and Footer for FAT</a></li>

                        </ul>



                    </li>
                    <ul>



                        </li>


                        </li>



                        <li class="dropdown">
                            <a href="#"><span>Final </span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="~/FinalQinspec/Annexure9">Finished Goods QC Check List</a></li>
                                <li><a href="~/FinalQinspec/Manufacturing">Manufacturing Process Measurement</a></li>
                                <li><a href="~/FinalQinspec/QF1C">Non Conformance Report</a></li>
                                <li><a href="~/FinalQinspec/QF3J">MV Switchgear Dielectric Withsta</a></li>
                                <li><a href="~/FinalQinspec/QFQF6J">Relay Test Form</a></li>
                                <li><a href="~/FinalQinspec/QF6U">QF 6U DB-Routine Test Report</a></li>
                                <li><a href="~/FinalQinspec/QF6UDOL">DOL-STATER Routine Test Report</a></li>
                                <li><a href="~/FinalQinspec/QF6UFDB">FDB-Routine Test Report</a></li>
                                <li><a href="~/FinalQinspec/QF6UKWH">KWH METER Routine Test Report</a></li>
                                <li><a href="~/FinalQinspec/QF6UMCC">MCC-Routine Test Report</a></li>
                                <li><a href="~/FinalQinspec/QF6UMDP">MDP -Routine Test Report</a></li>
                                <li><a href="~/FinalQinspec/QF6UMODULE">MODULE-Routine Test Report</a></li>

                                <li><a href="~/FinalQinspec/QF6UPFC"> PFC-Routine Test Report</a></li>
                                <li><a href="~/FinalQinspec/QF6UPRIMARY">PRIMARY INJECTION ROUTINE REPORT</a></li>

                                <li><a href="~/FinalQinspec/QF6USMDB">SMDB_ESB_LDP-Routine Test Report</a></li>

                                <li><a href="~/FinalQinspec/QF6UStar">Star-Delta Module</a></li>

                                <li><a href="~/FinalQinspec/QF6UVFD"> VFD-Routine Test Report</a></li>

                                <li><a href="~/FinalQinspec/QF6UCircuit">QF 6U_Circuit Breaker Test Form_Rev</a></li>
                                <li><a href="~/FinalQinspec/QF6ZBusbar">Busbar Milli Volt Drop Test Form</a></li>
                                <li><a href="~/FinalQinspec/QF9AAmmeter">Ammeter Test Form.</a></li>
                                <li><a href="~/FinalQinspec/QF9BVoltmeter"> Voltmeter Test Form</a></li>
                                <li><a href="~/FinalQinspec/QF9CVacuum">Vacuum Circuit Breaker Test Form</a></li>
                                <li><a href="~/FinalQinspec/QF9DEnergy">Energy Meter Test form</a></li>

                                <li><a href="~/FinalQinspec/QF9EMechanical">Mechanical Interlock Test Form</a></li>

                                <li><a href="~/FinalQinspec/QF9FEarth">Earth Switch Milli vot Drop Test Form</a></li>

                                <li><a href="~/FinalQinspec/QF9GPoint">Point to Point Check Test Form</a></li>

                                <li><a href="~/FinalQinspec/QF9HScheme">QF 9H - Scheme  Check Test Form</a></li>
                                <li><a href="~/FinalQinspec/QF9ICurrent">Current Transformer Test Form</a></li>

                                <li><a href="~/FinalQinspec/QF9JVoltage">Voltage Transformer Test Form</a></li>
                                <li><a href="~/FinalQinspec/QF9KDimensional"> Dimensional Check Form</a></li>

                                <li><a href="~/FinalQinspec/QF9LTorque">Torque Check Form</a></li>

                                <li><a href="~/FinalQinspec/QF9NBusbar">Busbar differential protection Relay Test Form</a></li>


                                <li><a href="~/FinalQinspec/QF9OTransformer">Transformer Differential protection Relay Test Form</a></li>


                                <li><a href="~/FinalQinspec/QF9PObservation">Observation Checklist_MV</a></li>

                                <li><a href="~/FinalQinspec/QualityControlProcess">Quality Control Process Measurement</a></li>







                            </ul>
                        </li>



                        <li class="dropdown">
                            <a href="#"><span>Inprocess </span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="~/InprocessQinspec/Annexure8">Annexure 8 - In Process QC Check List</a></li>
                                <li><a href="~/InprocessQinspec/Manufacturing">Manufacturing Process Measurement</a></li>
                                <li><a href="~/InprocessQinspec/QF1C">QF 1C Non Conformance Report</a></li>
                                <li><a href="~/InprocessQinspec/QF5A">Sheet Metal Fabrication In Process</a></li>
                                <li><a href="~/InprocessQinspec/QF5B">Panel Assembly & Wiring In Process</a></li>
                                <li><a href="~/InprocessQinspec/QF5D">Bus Bar Fabrication In Process</a></li>
                                <li><a href="~/InprocessQinspec/QF6A"> Paint Shop In Process</a></li>
                                <li><a href="~/InprocessQinspec/QF6W">QF 6W Snag List and Snag Analysis</a></li>
                                <li><a href="~/InprocessQinspec/QF9M">Inprocess Checklist_MV_Rev 1</a></li>
                                <li><a href="~/InprocessQinspec/QualityControl">Quality Control Process Measurement</a></li>



                            </ul>
                        </li>



                        <li class="dropdown">
                            <a href="#"><span>Incoming </span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="~/IncomingQinspec/Annexure7">Incoming Goods QC Test</a></li>
                                <li><a href="~/IncomingQinspec/QF1C">Non Conformance Report</a></li>
                                <li><a href="~/IncomingQinspec/QF6J">(OC,EF,UNDER-OVER VOLTAGE) Relay Test Form</a></li>
                                <li><a href="~/IncomingQinspec/QF6U">Circuit Breaker Test Form_Rev 1</a></li>
                                <li><a href="~/IncomingQinspec/QF9A">Ammeter Test Form</a></li>
                                <li><a href="~/IncomingQinspec/QF9B">Voltmeter Test Form</a></li>
                                <li><a href="~/IncomingQinspec/QF9C">Vacuum Circuit Breaker Test Form</a></li>

                                <li><a href="~/IncomingQinspec/QF9D">Energy Meter Test form</a></li>
                                <li><a href="~/IncomingQinspec/QF9E"> Mechanical Interlock Test Form</a></li>

                                <li><a href="~/IncomingQinspec/QF9F">Earth Switch Milli vot Drop Test Form</a></li>
                                <li><a href="~/IncomingQinspec/QF9I">Current Transformer Test Form</a></li>
                                <li><a href="~/IncomingQinspec/QF9J"> Voltage Transformer Test Form</a></li>
                                <li><a href="~/IncomingQinspec/QF9N">Busbar differential protection Relay Test Form</a></li>
                                <li><a href="~/IncomingQinspec/QF9O">Transformer Differential protection Relay Test</a></li>
                                <li><a href="~/IncomingQinspec/QF9Q">QF 9Q_Material Inward Inpection Form</a></li>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#"><span> Desktop</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">Annexure and Test Sheets</a></li>


                            </ul>
                        </li>


                        <li class="dropdown">
                            <a href="#"><span>SAT</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">Annexure and Test Sheets</a></li>


                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#"><span>Fabrication</span> <i class="bi bi-chevron-right"></i></a>

                            <ul>
                                <li class="dropdown">
                                    <a href="#"><span>Cooper</span> <i class="bi bi-chevron-right"></i></a>


                                    <ul>
                                        <li><a href="~/Fabrication/QF11G">QF 11G_Punching and Cutting</a></li>
                                        <li><a href="~/Fabrication/QF11H">QF 11H_Bending</a></li>
                                        <li><a href="~/Fabrication/QF11I">QF 11I_Coating</a></li>


                                    </ul>


                                </li>

                                <li class="dropdown">
                                    <a href="#"><span>Sheet</span> <i class="bi bi-chevron-right"></i></a>


                                    <ul>
                                        <li><a href="~/Fabrication/QF11C">QF 11C_Nibbling and Punching</a></li>
                                        <li><a href="~/Fabrication/QF11D">QF 11D_Bending</a></li>
                                        <li><a href="~/Fabrication/QF11E">QF 11E_Welding and Grinding</a></li>
                                        <li><a href="~/Fabrication/QF11F">QF 11F_Painting</a></li>

                                    </ul>


                                </li>
                            </ul>
                        </li>

                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header>

    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <<<<<<< HEAD
            SID
            <a class="text-white" href="https://mdbootstrap.com/"></a>
            =======
            © 2020 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">SID Software House</a>
            >>>>>>> 84beec86c3f0ffe6e9cb663351781c3ba0a7d83d
        </div>
        <!-- Copyright -->
    </footer>


</body>
</html>