
@{
    ViewBag.Title = "Annexure8";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    .main_input {
        height: 100%;
    }

    .table-bordered {
        border-bottom: 1px solid black;
    }

    body {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
</style>


<div class="main_heading" style="background-color: #018bd3;height: 70px;">
    <h3 style="text-align: center; padding-top:18px;color: white;"><b> Annexure 8 - In Process QC Check List</b> </h3>
</div>

<table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
    <tr style="background-color: #5f98ab;">
        <th colspan="6"><center style="font-size:larger;color:white"> TEST/QC FORMS</center></th>

    </tr>
    <tr>
        <th>
            Sl No

        </th>
        <th>
            Document Number
        </th>
        <th>
            Test Description


        </th>
    </tr>



    <tr>
        <th>
            1

        </th>



        <th>
            QF 1C


        </th>

        <th>
            Non Conformance Report



        </th>
    </tr>

    <tr>
        <th>
            2

        </th>



        <th>
            QF 1H


        </th>

        <th>
            Corrective Action Request



        </th>
    </tr>

    <tr>
        <th>
            3

        </th>



        <th>
            QF 5A


        </th>

        <th>
            Sheet Metal Fabrication In Process


        </th>
    </tr>
    <tr>
        <th>
            4

        </th>



        <th>
            QF 5B


        </th>

        <th>
            Panel Assembly & Wiring In Process


        </th>
    </tr>
    <tr>
        <th>
            5

        </th>



        <th>
            QF 5D


        </th>

        <th>
            Bus Bar Fabrication In Process



        </th>
    </tr>
    <tr>
        <th>
            6

        </th>



        <th>
            QF 6A

        </th>

        <th>
            Paint Shop In Process



        </th>
    </tr>
    <tr>
        <th>
            7

        </th>



        <th>
            QF 9M


        </th>

        <th>
            Inprocess Checklist_MV_Rev 1


        </th>
    </tr>
    <tr>
        <th rowspan="3">
            8

        </th>



        <th rowspan="3">QF 6W




        <th>
            QF 6W Snag List and Snag Analysis



        </th>
    </tr>
    <tr>


        <th>
            Manufacturing Process Measurement



        </th>
    </tr>
    <tr>


        <th>
            Quality Control Process Measurement



        </th>
    </tr>



</table>
<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary" style="background-color:#191c3696;margin-bottom:10px;">Submit</button>
</div>