
@{
    ViewBag.Title = "QF5A";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    .main_input {
        height: 100%;
    }

    .table-bordered {
        border-bottom: 1px solid black;
    }

    body {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
</style>

<div class="main_heading" style="background-color: #018bd3;height: 70px;">
    <h3 style="text-align: center; padding-top:18px;color: white;"><b> SHEET METAL FABRICATION INPROCESS</b> </h3>
</div>

<table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
    <tr style="background-color: #5f98ab;">
        <th colspan="6"><center style="font-size:larger;color:white"> SHEET METAL CUTTING LIST</center></th>

    </tr>
    <tr>
        <th colspan="6">

        </th>

    </tr>


    <tr>
        <th>
            PROJECT REF :
        </th>
        <td colspan="3"><input type="text" width="30px;" class="form-control"></th>
        <th>
            PRODUCT REF :
        </th>
        <th><input type="text" width="30px;" class="form-control"></th>
    </tr>
    <tr>
        <th colspan="1">
            FORM OF SEPERATION :
        </th>
        <td colspan="5"><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

    </tr>
    <tr>
        <th>
            CUSTOMER  :
        </th>
        <td colspan="3"><input type="text" width="30px;" class="form-control"></th>
        <th>
            TIER REF :
        </th>
        <th><input type="text" width="30px;" class="form-control"></th>


    </tr>
    <tr>
        <th>
            PAINT COLOR / PLATING DETAILS :

        </th>
        <th colspan="5"><input type="text" width="30px;" class="form-control"></th>
    </tr>
</table>


<table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">


    <tr>
        <th>
            PART No./ PGM No/ DWG No


        </th>
        <th>Description</th>
        <th>QTY</th>
        <th colspan="9" class="text-center">Drilling</th>
    </tr>
    <tr>
        <th>


        </th>
        <th></th>
        <th></th>
        <th>
            First Pc.
        </th>
        <th>
            Oper.Sign.

        </th>
        <th>
            Prod.in Charge

        </th>

        <th>
            QC Sign

        </th>

        <th>
            Last Pc.

        </th>
        <th>
            Oper.Sign

        </th>

        <th>
            Prod.in Charge

        </th>

        <th>
            QC Sign
        </th>

        <th>
            Finishing Date

        </th>
    </tr>
    <tr>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
    </tr>


    <tr>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
    </tr>

    <tr>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
    </tr>
    <tr>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
    </tr>
    <tr>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
    </tr>
    <tr>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
    </tr>
    <tr>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
    </tr>

    <tr>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
    </tr>
    <tr>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
    </tr>

</table>



<table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
    <tr>
        <th>
            Check Points
        </th>
        <th>
            Status
        </th>
    </tr>
    <tr>
        <th>
            1.Check Sharp edges/burrs on the processed sheets .

        </th>
        <th><input type="text" width="30px;" class="form-control"></th>
    </tr>
    <tr>
        <th>
            2.Verification of dimensions of the holes as per approved drawings

        </th>
        <th><input type="text" width="30px;" class="form-control"></th>
    </tr>

</table>
<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary" style="background-color:#191c3696;margin-bottom:10px;">Submit</button>
</div>


