
@{
    ViewBag.Title = "QF6A";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    .main_input {
        height: 100%;
    }

    .table-bordered {
        border-bottom: 1px solid black;
    }

    body {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
</style>

<div class="main_heading" style="background-color: #018bd3;height: 70px;">
    <h3 style="text-align: center; padding-top:18px;color: white;"><b>Paint Shop In Process</b> </h3>
</div>

<table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
    <tr style="background-color: #5f98ab;">
        <th colspan="12"><center style="font-size:larger;color:white"> PAINTING INPROCESS</center></th>

    </tr>
    <tr>
        <th>
            PROJECT REF :
        </th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th>
            Customer :
        </th>
        <th><input type="text" width="30px;" class="form-control"></th>

    </tr>



    <tr>
        <th>
            PRODUCT REF :
        </th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th>
            TIER REF :
        </th>
        <th><input type="text" width="30px;" class="form-control"></th>

    </tr>


    <tr>
        <th>
            FORM OF SEPERATION :
        </th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th>
            PAINT COLOR / PLATING DETAILS :
        </th>
        <th><input type="text" width="30px;" class="form-control"></th>

    </tr>

</table>


<table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
    <tr style="background-color: #5f98ab;">
        <th colspan="12"><center style="font-size:larger;color:white"> PAINTING INPROCESS</center></th>

    </tr>


    <tr>
        <th>
            PART No./ PGM No/ DWG No


        </th>
        <th>Description</th>
        <th>QTY</th>
        <th colspan="9" class="text-center">Grinding</th>
    </tr>

    <tr>
        <th>


        </th>
        <th></th>
        <th></th>
        <th>
            First Pc.
        </th>
        <th>
            Oper.Sign.

        </th>
        <th>
            Prod.in Charge

        </th>

        <th>
            QC Sign

        </th>

        <th>
            Last Pc.

        </th>
        <th>
            Oper.Sign

        </th>

        <th>
            Prod.in Charge

        </th>

        <th>
            QC Sign
        </th>

        <th>
            Finishing Date

        </th>
    </tr>

    <tr>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
    </tr>


    <tr>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
    </tr>

    <tr>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
    </tr>
    <tr>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
    </tr>
    <tr>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
    </tr>
    <tr>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
    </tr>
    <tr>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
    </tr>

    <tr>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
    </tr>
    <tr>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
    </tr>

</table>



<table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
    <tr>
        <th>
            Check Points
        </th>
        <th>
            Status
        </th>
    </tr>
    <tr>
        <th>
            1. Verification of painted application (RAL color,Surface treatment,) are as per approved drawings


        </th>
        <th><input type="text" width="30px;" class="form-control"></th>
    </tr>
    <tr>
        <th>
            2.Verification of paint coating thickness as per below mentioned criteria (A)Nominal  Thickness 100 +/-25 Microns B)Edges/Corners-75 to 300 Microns C)Holes/Contact Points-Max 210 Microns

        </th>
        <th><input type="text" width="30px;" class="form-control"></th>
    </tr>



</table>



<table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
    <tr style="background-color: #5f98ab;">
        <th colspan="6"><center style="font-size:larger;color:white"> PAINTING INPROCESS</center></th>

    </tr>
    <tr>
        <th colspan="2">
            Weightage
        </th>
        <th>
            Defenition

        </th>
    </tr>
    <tr>
        <th class="bg-warning">
            1
        </th>
        <th class="bg-warning">
            Minor
        </th>
        <th>
            a fault corresponding to a non-conformity,


        </th>
    </tr>
    <tr>
        <th class="bg-warning">
            3
        </th>
        <th class="bg-warning">
            Major
        </th>
        <th>
            a fault risking a considerable reduction in the achievement of a function in the switchboard,




        </th>
    </tr>
    <tr>
        <th class="bg-danger">
            5
        </th>
        <th class="bg-danger">
            Critical




        </th>
        <th>
            a fault which, based on judgement and experience, is likely to result in a lack of safety or risk of accidents for the user. It presents a real danger for persons and equipment.








        </th>
    </tr>
</table>

<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary" style="background-color:#191c3696;margin-bottom:10px;">Submit</button>
</div>



