
@{
    ViewBag.Title = "Annexure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    table, th {
        text-align: center;
    }

    .table-bordered {
        border-bottom: 1px solid black;
    }
    
</style>
<div>
    <div class="main_heading" style="background-color: #018bd3;height: 70px;">
        <h3 style="text-align: center; padding-top:18px;color: white;"><b><u>DIELECTRIC WITHSTAND TEST</u></b> </h3>
    </div>
    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">TEST/QC FORMS</center></th>

        </tr>

        <tr>
            <th>
                SI NO
            </th>
            <th>
                Document Number
            </th>
            <th>
                Test Description
            </th>
        </tr>


        <tr>
            <th>
                3
            </th>
            <th>
                QF 3J
            </th>
            <th>
                MV Switchgear Dielectric Withstand Test Form

            </th>
        </tr>



        <tr>
            <th>
                4
            </th>
            <th>
                QF-6J

            </th>
            <th>
                (OC,EF,UNDER/OVER VOLTAGE) Relay Test Form

            </th>
        </tr>



        <tr>
            <th rowspan="13">
                5
            </th>
            <th rowspan="13">
                QF 8B
            </th>
            <th>
                Circuit Breaker Test Form_Rev 1

            </th>
        </tr>

        <tr>

            <th>
                KWH METER FAT Test Report

            </th>
        </tr>

        <tr>

            <th>
                DB-FAT Test Report

            </th>
        </tr>

        <tr>

            <th>
                DOL-STATER FAT Test Report

            </th>
        </tr>


        <tr>

            <th>
                FDB-FAT Test Report

            </th>
        </tr>
        <tr>

            <th>
                MCC-FAT Test Report


            </th>
        </tr>

        <tr>

            <th>
                MDP -FAT Test Report


            </th>
        </tr>

        <tr>

            <th>
                MODULE-FAT Test Report


            </th>
        </tr>
        <tr>

            <th>
                PFC-FAT Test Report


            </th>
        </tr>
        <tr>

            <th>
                PRIMARY INJECTION FAT  REPORT


            </th>
        </tr>
        <tr>

            <th>
                SMDB_ESB_LDP-FAT Test Report


            </th>
        </tr>
        <tr>

            <th>
                Star-Delta Module


            </th>
        </tr>

        <tr>

            <th>
                VFD-FAT  Test Report



            </th>
        </tr>
        <tr>
            <th>
                7
            </th>
            <th>
                QF 6Z

            </th>
            <th>
                Busbar Milli Volt Drop Test Form


            </th>
        </tr>
        <tr>
            <th>
                8
            </th>
            <th>
                QF-9A

            </th>
            <th>
                Ammeter Test Form


            </th>
        </tr>
        <tr>
            <th>
                9
            </th>
            <th>
                QF-9B

            </th>
            <th>
                Voltmeter  Test Form


            </th>
        </tr>
        <tr>
            <th>
                10
            </th>
            <th>
                QF-9C

            </th>
            <th>
                Vacuum Circuit Breaker Test Form


            </th>
        </tr>
        <tr>
            <th>
                11
            </th>
            <th>
                QF-9D

            </th>
            <th>
                Energy Meter test Form

            </th>
        </tr>
        <tr>
            <th>
                12
            </th>
            <th>
                QF-9E

            </th>
            <th>
                Mechanical Interlock Test Form


            </th>
        </tr>
        <tr>
            <th>
                13
            </th>
            <th>
                QF-9F

            </th>
            <th>
                Earth Switch Millivolt Drop Test Form


            </th>
        </tr>
        <tr>
            <th>
                14
            </th>
            <th>
                QF 9G

            </th>
            <th>
                Point to Point Check Test Form.


            </th>
        </tr>
        <tr>
            <th>
                15
            </th>
            <th>
                QF 9H

            </th>
            <th>
                Scheme  Check Test Form.


            </th>
        </tr>
        <tr>
            <th>
                16
            </th>
            <th>
                QF-9I

            </th>
            <th>
                Current Transformer  Test Form


            </th>
        </tr>
        <tr>
            <th>
                17
            </th>
            <th>
                QF-9J

            </th>
            <th>
                Voltage Transformer Test Form


            </th>
        </tr>
        <tr>
            <th>
                18
            </th>
            <th>
                QF 9K

            </th>
            <th>
                Dimensional  Check Form.


            </th>
        </tr>
        <tr>
            <th>
                19
            </th>
            <th>
                QF 9L

            </th>
            <th>
                QF 9L	Torque Check Form.


            </th>
        </tr>
        <tr>
            <th>
                20
            </th>
            <th>
                QF-9N

            </th>
            <th>
                Bus bar differential protection Relay Test Form
            </th>
        </tr>
        <tr>
            <th>
                21
            </th>
            <th>
                QF-9O

            </th>
            <th>
                Transformer  differential protection Relay Test Form


            </th>
        </tr>


    </table>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary" style="background-color:#191c3696;margin-bottom:10px;">Submit</button>
    </div>
</div>

