
@{
    ViewBag.Title = "ITP02LV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>
        table, th, td {
            border: 2px solid black;
            border-collapse: collapse;
        }

        table, th {
            text-align: center;
        }

        .table-bordered {
            border-bottom: 1px solid black;
        }
    </style>

    <div class="table-responsive-sm">
        <div class="main_heading" style="background-color: #018bd3;height: 70px;">
            <h3 style="text-align: center; padding-top:18px;color: white;"><b>DIELECTRIC WITHSTAND TEST</b> </h3>
        </div>

        <table class="table table-bordered" style="width: 100%; height: 70%; background-color: #f1f3ec66;">
            <tr style="background-color: #5f98ab;">
                <th colspan="12"><center style="font-size:larger;color:white">ITP 01 MV [Compatibility Mode]</center></th>

            </tr>
            <tr>
                <th colspan="6">TAMCO</th>
                <th colspan="6">INSPECTION & TEST PROCEDURE</th>
            </tr>
        </table>
        <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">



            <tr style="background-color: #5f98ab;">
                <th colspan="12"><center style="font-size:larger;color:white">CLIENT</center></th>

            </tr>

            <tr> <th><u>PROJECT</u></th></tr>
            <tr> <th><u>CONTRACT AGREEMENT NO.</u></th></tr>

            <tr>  <th><u>DOCUMENT TITLE</u></th></tr>

            <tr> <th><u>VENDOR</u></th></tr>

            <tr>
                <th><u>OUR REF. NO.</u></th>

            </tr>
        </table>




        <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
            <tr style="background-color: #5f98ab;">
                <th colspan="12"><center style="font-size:larger;color:white">Insulation Resistance Test</center></th>

            </tr>
            <tr>
                <th><u>Code</u></th>
                <th><u>Explanation</u></th>
            </tr>

            <tr>
                <th><u>P</u></th>
                <th><u>Routine factory tests and checks on all units</u></th>
            </tr>

            <tr>
                <th><u>S</u></th>
                <th><u>Routine factory test and checks on samples only</u></th>
            </tr>

            <tr>
                <th><u>W</u></th>
                <th><u>Test and checks to be witnessed by customer for all units</u></th>
            </tr>

            <tr>
                <th><u>R</u></th>
                <th>
                    <u>
                        Witness test and checks on randomly selected samples only,<br>
                        Routine factory test results to be reviewed by customer for samples not witnessed-tested.
                    </u>
                </th>
            </tr>


            </tr>
        </table>
        <div>
            <h3>CONTENTS</h3>


            <h6>1.Visual Inspection</h6>
            <h6>2.Dimensional Inspection</h6>
            <h6> 3.Mechanical Test</h6>

            <h6>•	Moving Parts</h6>
            <h6>•	Mechanical Interlock and Functional Check</h6>


            <h6>4. Operation Test and Functional Check</h6>
            <h6>5.Circuit Volatge Injection Test</h6>
            <h6>
                6.Insulation Resistance & High Voltage test


                <h6>•	Insulation resistance</h6>
                <h6>•	High Voltage Test</h6>


        </div>

        <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
            <tr style="background-color: #5f98ab;">
                <th colspan="12"><center style="font-size:larger;color:white">Insulation Resistance Test</center></th>

            </tr>
            <tr>
                <th><u>SR.NO</u></th>
                <th><u>Description</u></th>
                <th><u>Sheet No.</u></th>
            </tr>

            <tr>
                <th><u>1</u></th>
                <th><u>Routine test</u></th>
                <th><u>QF 6U  </u></th>
            </tr>


        </table>
        <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
            <tr style="background-color: #5f98ab;">
                <th colspan="12"><center style="font-size:larger;color:white">Insulation Resistance Test</center></th>

            </tr>
            <tr>


                <th colspan="6">
                    TEST ITEM
                </th>
                <th colspan="6">
                    TEST  CODE
                </th>







            </tr>


        </table>



        <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
            <tr style="background-color: #5f98ab;">
                <th colspan="12"><center style="font-size:larger;color:white">Insulation Resistance Test</center></th>

            </tr>
            <tr>


                <th colspan="6">
                    VISUAL INSPECTION
                </th>
                <th colspan="6">
                    P
                </th>
            </tr>




        </table>


        <div>
            <h4>•	The following item shall conform to the Approved drawings</h4>


            <h6> 1.	Item No.</h6>
            <h6>2.	Construction</h6>
            <h6>3.	Rating</h6>
            <h6>4.	Name Plate</h6>
            <h6>5.	Paint finish</h6>
            <h6>6.	Quantities</h6>
            <h6>7.	Components</h6>


        </div>
        <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
            <tr style="background-color: #5f98ab;">
                <th colspan="12"><center style="font-size:larger;color:white">Insulation Resistance Test</center></th>

            </tr>
            <tr>


                <th colspan="6">
                    DIMENSIONAL INSPECTION
                </th>

                <th colspan="6">
                    S
                </th>

            </tr>
        </table>
       
        <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
            <tr style="background-color: #5f98ab;">
                <th colspan="12"><center style="font-size:larger;color:white">Insulation Resistance Test</center></th>

            </tr>
            <tr>
                <th colspan="6">
                    MECHANICAL TESTS
                </th>
            </tr>
        </table>
        <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
            <tr style="background-color: #5f98ab;">
                <th colspan="12"><center style="font-size:larger;color:white">Insulation Resistance Test</center></th>

            </tr>

            <tr>
                <th colspan="6">
                    MOVING PARTS
                </th>
            </tr>
            <tr>
                <th>•	Check rating </th>
                <th>P – R</th>


            </tr>








            <tr>
                <th>•Check moving parts can be withdrawn & plugged in manually </th>
                <th>P – R</th>


            </tr>


            <tr>
                <th>•	Perform manual charging operation for VCB       </th>
                <th>P – R</th>


            </tr>


            <tr>
                <th>•Check manual close open and trip operation of VCB         </th>
                <th>P – W</th>


            </tr>


            <tr>
                <th>•Inspect contacts & general appearance </th>
                <th>P – R</th>


            </tr>




            <tr>
                <th>•	VCB cannot be plugged in or withdrawn unless it is OFF  </th>
                <th>P – R</th>


            </tr>


            <tr>
                <th>•	Automatic shutter should drop and cover the Bus bar when VCB is withdrawn </th>
                <th>P – R</th>


            </tr>



            <tr>
                <th>•VCB cannot be inserted when earth switch is closed  </th>
                <th>P – R</th>


            </tr>


            <tr>
                <th>•	Earth witch cannot be closed when VCB in the connected   Position                                                      </th>
                <th>P – R</th>


            </tr>



            <tr>
                <th>•	Check the key interlock system  </th>
                <th>P – R</th>


            </tr>

            <tr>
                <th>•Inspect  VCB fixed portion  </th>
                <th>P – R</th>


            </tr>
            </tr>
        </table>













        <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
            <tr style="background-color: #5f98ab;">
                <th colspan="12"><center style="font-size:larger;color:white">Insulation Resistance Test</center></th>

            </tr>
            <tr>
                <th colspan="6">
                    OPERATIONAL TESTS & FUNCTIONAL CHECK
                </th>
            </tr>
            <tr>
                <th>•	Connect DC / AC supply to control circuit </th>
                <th>P–W</th>


            </tr>








            <tr>
                <th>•ON / OFF operation should be tested </th>
                <th>P–W</th>


            </tr>


            <tr>
                <th>•Check all indicators operate correctly </th>
                <th>P–W</th>


            </tr>


            <tr>
                <th>•Check that the circuit breaker spring mechanism is automatically   operated after each close operation     </th>
                <th>P–W</th>


            </tr>


            <tr>
                <th>
                    •Check circuit breaker trip by manually operating Protection relay   <br>
                    Also bridge terminals to simulate remote trip/ close Signals
                </th>
                <th>P–W</th>


            </tr>





            <tr>
                <th>•Check N/O and N/C contacts for external interface are correctly       wired.(A buzzer or Ohm meter is required for test)</th>
                <th>P–W</th>


            </tr>


            <tr>
                <th>•	Perform functional test on heater circuits</th>
                <th>P–R</th>


            </tr>



            <tr>
                <th>•	Check all electrical interlocks to prove proper functioning as per  relevant drawing </th>
                <th>P–R</th>


            </tr>
            </tr>
        </table>



        <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
            <tr style="background-color: #5f98ab;">
                <th colspan="12"><center style="font-size:larger;color:white">Insulation Resistance Test</center></th>

            </tr>
            <tr>
                <th colspan="6">
                    CIRCUIT, VOLTAGE INJECTION TEST
                </th>
            </tr>
            <tr>
                <th>•	Check PT / CT Ratio </th>
                <th>P–R</th>


            </tr>








            <tr>
                <th>•	Test operation of voltmeter, ammeter by voltage or current injection</th>
                <th>P–W</th>


            </tr>



            </tr>
        </table>


        <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
            <tr style="background-color: #5f98ab;">
                <th colspan="12"><center style="font-size:larger;color:white">Insulation Resistance Test</center></th>

            </tr>
            <tr>


                <th colspan="5">
                    INSPECTION RESISTANCE & HIGH VOLTAGE TEST
                </th>

                <th>
                    P-W
                </th>


            </tr>
        </table>
        

        <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
            <tr style="background-color: #5f98ab;">
                <th colspan="12"><center style="font-size:larger;color:white">Insulation Resistance Test</center></th>

            </tr>
            <tr>


                <th colspan="6">
                    INSULATION RESISTANCE TEST
                </th>




            </tr>
        </table>
        <div>
            <h4>Power Circuit</h4>
            <h6>Connect a 1 KV Megger to incomer in the sequence of </h6>

            <h6>R- YBNE shorted</h6>

            <h6>Y-RBNE shorted</h6>

            <h6>B-YRNE shorted</h6>


            <h6>N-YBRE shorted</h6>

            <h6>In each case the value should be at least 1000 Ohms/Volts/Circuit </h6>

            <div>




                <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
                    <tr style="background-color: #5f98ab;">
                        <th colspan="12"><center style="font-size:larger;color:white"> HIGH VOLTAGE TEST</center></th>

                    </tr>
                    </tr>
                </table>
                <div>
                    <h4>Power Circuit</h4>
                    <h6>Connect a 2125 VAC for 1 second to power circuit in the following sequence  </h6>

                    <h6>R- YBNE shorted & earthed</h6>

                    <h6>Y-RBNE shorted & earthed</h6>

                    <h6>B-YRNE shorted & earthed</h6>


                    <h6>N-YBRE shorted & earthed</h6>

                    <h6>The test is considered to have passed if there is no flash or puncture </h6>
                    <h6>
                        All test data should be recorded in the  test certificate QF 6U.

                    </h6>

                    <div>


                        <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
                            <tr style="background-color: #5f98ab;">
                                <th colspan="12"><center style="font-size:larger;color:white">Prepared by</center></th>

                            </tr>
                            <tr>

                                <th colspan="8">Prepared by:</th>

                            </tr>
                            <tr>

                                <th colspan="8">Approved by:</th>

                            </tr>

                        </table>
                        <button type="button" class="btn btn-primary" style="background-color:#191c3696">Submit</button>
                    </div>





