
@{
    ViewBag.Title = "QF8BFATKWHMETER";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table, th {
        text-align: center;
    }

    .table-bordered {
        border-bottom: 1px solid black;
    }
</style>



<div class="main_heading" style="background-color: #018bd3;height: 70px;">
    <h3 style="text-align: center; padding-top:18px;color: white;"><b><u>Check List for FAT Applicable Dubai Airport</u></b> </h3>
</div>

<table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
    <tr style="background-color: #5f98ab;">
        <th colspan="6"><center style="font-size:larger;color:white">FAT Test Checklist for KWH Meter Panel</center></th>

    </tr>

    <tr>
        <th colspan="6">
            FAT Test Checklist for  KWH  Meter Panel
        </th>

    </tr>

    <tr>
        <th colspan="1">
            KWH  PANEL REF  No.:
        </th>
        <td colspan="5"><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

    </tr>
    <tr>
        <th>Job:</th>
        <td colspan="3"><input type="date" width="30px;" class="form-control"></th>
        <th>Line No:</th>
        <th><input type="text" width="30px;" class="form-control"></th>
    </tr>
    <tr>
        <th>Date:</th>
        <td colspan="3"><input type="date" width="30px;" class="form-control"></th>
        <th>Tester:</th>
        <th><input type="text" width="30px;" class="form-control"></th>
    </tr>
</table>
<table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">


    <tr style="background-color: #5f98ab;">
        <th colspan="6"><center style="font-size:larger;color:white">FAT Test Checklist for  KWH  Meter Panel</center></th>

    </tr>

    <tr>
        <th>1.1</th>
        <th>
            Identity check and visual check

        </th>
    </tr>


    <tr>
        <th>1.1.0</th>
        <th>
            Type of enclosure according to drawings.


        </th>
    </tr>
    <tr>
        <th>1.1.1</th>
        <th>
            Installation of equipments according to drawings.



        </th>
    </tr>
    <tr>
        <th>1.1.2</th>
        <th>
            Enclosure & equipments match technical data



        </th>
    </tr>
    <tr>
        <th>1.1.3</th>
        <th>
            Check labelling and identification is according to drawing



        </th>
    </tr>
    <tr>
        <th>1.1.4</th>
        <th>
            Check devices and component markers against equipment schedule



        </th>
    </tr>
    <tr>
        <th>1.1.5</th>
        <th>
            Paint colour and finish correct.
            Exterior / Interior     -  RAL-7032



        </th>
    </tr>
    <tr>
        <th>1.1.6</th>
        <th>
            Provision of supports/facility for dressing clamping outgoing circuit cables



        </th>
    </tr>


    <tr>
        <th>1.1.7</th>
        <th>
            Kwh  Meter provided as per the Drawings
            .


        </th>
    </tr>

    <tr>
        <th>1.1.8</th>
        <th>
            CT's  provided as per the Kwh  Meter Ratio



        </th>
    </tr>






    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">Final test</center></th>

        </tr>


        <tr>
            <th>
                1.4.1


            </th>
            <th> Ensure KWH Meter panel  is clean	</th>
        </tr>
        <tr>
            <th>
                1.4.2


            </th>
            <th> Ensure any comments to the drawings are marked up and returned to document control.	</th>
        </tr>


        <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
            <tr style="background-color: #5f98ab;">
                <th colspan="6"><center style="font-size:larger;color:white">FAT Test Checklist for FDB</center></th>

            </tr>


            <tr>
                <th>Test Equipment</th>
                <th>Inst.No</th>
                <th>Cal.Date</th>
                <th>Cal Due Date</th>
            </tr>


            <tr>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>

            </tr>


            <tr>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>

            </tr>
        </table>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary" style="background-color:#191c3696; ">Submit</button>
        </div>


