
@{
    ViewBag.Title = "QF8BFATFDB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        table, th{
           text-align:center;
        }
        table{
            border-bottom:1px solid black;
        }
    </style>
    <div class="main_heading" style="background-color: #018bd3;height: 70px;">
        <h3 style="text-align: center; padding-top:18px;color: white;"><b><u>Test Checklist for STARTER PANEL</u></b> </h3>
    </div>
    <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">FAT Test Checklist for FDB</center></th>

        </tr>
        

        <tr>
            <th colspan="1">
                FDB NO:
            </th>
            <td colspan="5"><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>Job:</th>
            <td colspan="3"><input type="date" width="30px;" class="form-control"></th>
            <th>Line No:</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>Date:</th>
            <td colspan="3"><input type="date" width="30px;" class="form-control"></th>
            <th>Tester:</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
    </table>
    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">


        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">Final test after completion</center></th>

        </tr>
        <tr>
            <th>1.1</th>
            <th>
                Identity check and visual check

            </th>
        </tr>


        <tr>
            <th>1.1.0</th>
            <th>
                Type of enclosure according to drawings.


            </th>
        </tr>
        <tr>
            <th>1.1.1</th>
            <th>
                Installation of equipments according to drawings.



            </th>
        </tr>
        <tr>
            <th>1.1.2</th>
            <th>
                Enclosure & equipments match technical data



            </th>
        </tr>
        <tr>
            <th>1.1.3</th>
            <th>
                Busbar pan assembly & tap-off connections to outgoing circuits/Neutral busbars verified




            </th>
        </tr>
        <tr>
            <th>1.1.4</th>
            <th>
                Check labelling and identification is according to drawing




            </th>
        </tr>
        <tr>
            <th>1.1.5</th>
            <th>
                Check devices and component markers against equipment schedule




            </th>
        </tr>
        <tr>
            <th>1.1.6</th>
            <th>
                Paint colour and finish correct.
                Exterior / Interior     -  RAL-7032




            </th>
        </tr>


        <tr>
            <th>1.1.7</th>
            <th>
                Provision of supports/facility for dressing clamping outgoing circuit cables

                .


            </th>
        </tr>

        <tr>
            <th>1.1.8</th>
            <th>
                Rating/size of Earth busbar & terminals




            </th>
        </tr>

        <tr>
            <th>1.1.9</th>
            <th>
                Fault level rating of the circuit breakers according to the drawings





            </th>
        </tr>






        <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
            <tr style="background-color: #5f98ab;">
                <th colspan="6"><center style="font-size:larger;color:white">Final test after completion</center></th>

            </tr>

            <tr>
                <th>
                    1.2.1


                </th>
                <th>
                    Ensure wiring is not passing over any sharp edges
                </th>
            </tr>
            <tr>
                <th>
                    1.2.2


                </th>
                <th>
                    Wiring colours correct
                </th>
            </tr>


            <tr>
                <th>
                    1.2.3


                </th>
                <th>
                    Segregation of wiring correct

                </th>
            </tr>

            <tr>
                <th>
                    1.2.4


                </th>
                <th>
                    Cross section of wiring correct

                </th>
            </tr>
            <tr>
                <th>
                    1.2.5


                </th>
                <th>
                    Wire marking and identification system complete

                </th>
            </tr>
            <tr>
                <th>
                    1.2.6


                </th>
                <th>
                    Tightness of terminations checked

                </th>
            </tr>
        </table>




        <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
            <tr style="background-color: #5f98ab;">
                <th colspan="6"><center style="font-size:larger;color:white">Electrical test</center></th>

            </tr>

            <tr>
                <th>
                    1.3.1


                </th>
                <th>
                    Check FDB is completely functional as per drawings

                </th>
            </tr>
            <tr>
                <th>
                    1.3.2


                </th>
                <th>
                    Check operation of circuit contacts and devices

                </th>
            </tr>



        </table>






        <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
            <tr style="background-color: #5f98ab;">
                <th colspan="6"><center style="font-size:larger;color:white">FAT Test Checklist</center></th>

            </tr>

            <tr>
                <th>Test Equipment</th>
                <th>Inst.No</th>
                <th>Cal.Date</th>
                <th>Cal Due Date</th>
            </tr>


            <tr>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>

            </tr>


            <tr>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>

            </tr>
        </table>


        <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">

            <tr style="background-color: #5f98ab;">
                <th colspan="6"><center style="font-size:larger;color:white">Insulation test</center></th>

            </tr>
            <tr>
                <th>1.4.1</th>
                <th colspan="3">
                    Insulation test 1
                </th>

                <th>
                    Mohm Result

                </th>
            </tr>
            <tr>
                <th>
                    Before HV test
                </th>
                <th>
                    R to Y,B,E
                </th>
                <th><input type="text"></th>
                <th rowspan="1">
                    1000V


                </th>

                <th><input type="text"></th>
            </tr>



            <tr>
                <th>
                </th>
                <th>
                    Y to R,B,E

                </th>
                <th><input type="text"></th>
                <th rowspan="1">
                    1000V
                </th>
                <th><input type="text"></th>
            </tr>



            <tr>
                <th>

                </th>
                <th>
                    B to R,Y,E


                </th>
                <th><input type="text"></th>
                <th rowspan="1">
                    1000V
                </th>
                <th><input type="text"></th>
            </tr>
        </table>


        <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">

            <tr style="background-color: #5f98ab;">
                <th colspan="6"><center style="font-size:larger;color:white">Insulation test</center></th>

            </tr>
            <tr>
                <th>1.4.2</th>
                <th colspan="3">
                    High voltage test
                </th>

                <th>
                    Mohm Result

                </th>
            </tr>
            <tr>
                <th>
                </th>
                <th>
                    R to Y,B,E
                </th>
                <th><input type="text"></th>
                <th rowspan="1">
                    1000V


                </th>

                <th><input type="text"></th>
            </tr>



            <tr>
                <th>
                </th>
                <th>
                    Y to R,B,E

                </th>
                <th><input type="text"></th>
                <th rowspan="1">
                    1000V
                </th>
                <th><input type="text"></th>
            </tr>



            <tr>
                <th>

                </th>
                <th>
                    B to R,Y,E


                </th>
                <th><input type="text"></th>
                <th rowspan="1">
                    1000V
                </th>
                <th><input type="text"></th>
            </tr>
        </table>



        <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">

            <tr style="background-color: #5f98ab;">
                <th colspan="6"><center style="font-size:larger;color:white">Insulation test</center></th>

            </tr>
            <tr>
                <th>1.4.3</th>
                <th colspan="3">
                    Insulation test 2
                </th>

                <th>
                    Mohm Result

                </th>
            </tr>
            <tr>
                <th>
                    After HV test
                </th>
                <th>
                    R to Y,B,E
                </th>
                <th><input type="text"></th>
                <th rowspan="1">
                    1000V


                </th>

                <th><input type="text"></th>
            </tr>



            <tr>
                <th>
                </th>
                <th>
                    Y to R,B,E

                </th>
                <th><input type="text"></th>
                <th rowspan="1">
                    1000V
                </th>
                <th><input type="text"></th>
            </tr>



            <tr>
                <th>

                </th>
                <th>
                    B to R,Y,E


                </th>
                <th><input type="text"></th>
                <th rowspan="1">
                    1000V
                </th>
                <th><input type="text"></th>
            </tr>
        </table>


        <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
            <tr style="background-color: #5f98ab;">
                <th colspan="6"><center style="font-size:larger;color:white">Final test</center></th>

            </tr>

            <tr>
                <th>
                    2.8.1


                </th>
                <th>
                    Ensure FFDB is clean



                </th>
            </tr>
            <tr>
                <th>
                    2.8.3.


                </th>
                <th>
                    Ensure any comments to the drawings are marked up and returned to document control.



                </th>
            </tr>



        </table>




        <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
            <tr style="background-color: #5f98ab;">
                <th colspan="6"><center style="font-size:larger;color:white">Equipment</center></th>

            </tr>
            <tr>
                <th>Test Equipment</th>
                <th>Inst.No</th>
                <th>Cal.Date</th>
                <th>Cal Due Date</th>
            </tr>


            <tr>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="date" width="30px;" class="form-control"></th>
                <th><input type="date" width="30px;" class="form-control"></th>

            </tr>


            <tr>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="date" width="30px;" class="form-control"></th>
                <th><input type="date" width="30px;" class="form-control"></th>

            </tr>
        </table>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary" style="background-color:#191c3696;margin-bottom:10px;">Submit</button>
        </div>


