
@{
    ViewBag.Title = "QF8BStarDelta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        table, th {
            text-align: center;
            padding: 15px;
        }

        .table-bordered {
            border-bottom: 1px solid black;
        }   
    </style>
   
        <div class="main_heading" style="background-color: #018bd3;height: 70px;">
            <h3 style="text-align: center; padding-top:18px;color: white;"><b><u>CHECK LIST FOR   STAR DELTA FEEDER</u></b> </h3>
        </div>
        <table class="table table-bordered" style=" width: 100%; height: 70%; background-color:#f1f3ec66;">

            <tr style="background-color: #5f98ab;">
                <th colspan="6"><center style="font-size:larger;color:white">CHECK LIST FOR   STAR DELTA FEEDER</center></th>

            </tr>
            <tr>
                <th>
                    Customer
                </th>

                <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

            </tr>
            <tr>
                <th>Job NO</th>
                <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

            </tr>
            <tr>
                <th>Module Name</th>
                <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <tr>
                <th>
                    CAPACITY
                </th>
                <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            </tr>
            <tr>
                <th>
                    Tester
                </th>
                <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            </tr>



            <tr>
                <th>
                    Date
                </th>
                <td><input type="date" leght="100px" ;width="30px;" class="form-control"></th>
            </tr>
        </table>
        <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
            <tr style="background-color: #5f98ab;">
                <th colspan="12"><center style="font-size:larger;color:white">CHECK LIST FOR   STAR DELTA FEEDER</center></th>

            </tr>

            <tr style="color: black; background-color: #788f87;color:white">
                <th>1.1.0</th>
                <th>PHYSICAL VERIFICATION</th>
                <th colspan="8">Module</th>
            </tr>



            <tr>
                <th></th>
                <th></th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
            </tr>



            <tr>
                <th>1.1.1</th>
                <th>
                    Arrangement of Module as per drawing

                </th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
            </tr>



            <tr>
                <th>1.1.2</th>
                <th>
                    Starter Capacity



                </th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
            </tr>




            <tr>
                <th>1.1.3</th>
                <th>
                    Paint colour & Finish





                </th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
            </tr>



            <tr>
                <th>1.1.4</th>
                <th>
                    Part Number  verification,Component rating   & Fixing
                </th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
            </tr>


            <tr>
                <th>1.1.5</th>
                <th>
                    Neutral Link/Earth Link  / Terminals
                </th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
            </tr>




            <tr style="color: black; background-color: #788f87; color: white">
                <th>1.2.0</th>
                <th>
                    MECHANICAL TEST
                </th>
                <th colspan="8"></th>
            </tr>

            <tr>
                <th>1.2.1</th>
                <th>
                    "Busbar Bolt Tightness / Power Cable / control cable  terminal  Tightness
                    & Pull Test"


                </th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
            </tr>
            <tr>
                <th>1.2.2</th>
                <th>
                    Gasket  fixing  & door Alignment




                </th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
            </tr>


            <tr>
                <th>1.2.3</th>
                <th>
                    Rack In  / Rack out  Position  of  Interlock/ handle   Assembly

                </th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
            </tr>
            <tr>
                <th>1.2.4</th>
                <th>
                    Test /Service/disconnected position

                </th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
            </tr>
            <tr>
                <th>1.2.5</th>
                <th>
                    Mechanical  ON/OFF  funtion
                </th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
            </tr>


            <tr>
                <th>1.2.6</th>
                <th>
                    Control Plug Alignment In Module & Panel

                </th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
            </tr>
            <tr style="color: black; background-color: #788f87; color: white;">
                <th>1.3.0</th>
                <th>
                    Wiring	Verification
                </th>
                <th colspan="8"></th>
            </tr>







            <tr>
                <th>1.3.1</th>
                <th>
                    Color & size of wire



                </th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
            </tr>



            <tr>
                <th>1.3.1</th>
                <th>
                    Color & size of wire



                </th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
            </tr>




            <tr>
                <th>1.3.2</th>
                <th>
                    Control & Power wiring as per drawing





                </th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
            </tr>




            <tr>
                <th>1.3.3</th>
                <th>
                    Terminal fixing ,numbering,Ferruling & Equipment ID are correct





                </th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
            </tr>




            <tr>
                <th>1.3.4</th>
                <th>
                    Ensure wiring is not passing over any sharp edges.





                </th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
            </tr>



            <tr>
                <th>1.3.5</th>
                <th>
                    Wire dressing & termination





                </th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
            </tr>

            <tr>
                <th>1.3.6</th>
                <th>
                    Short-circuit proof wiring installation correct.







                </th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
            </tr>
            <tr style="color: black; background-color: #788f87; color: white;">
                <th>1.4.0</th>
                <th>
                    Final Inspection & Testing

                </th>
                <th colspan="8"></th>
            </tr>







            <tr>
                <th>1.4.1</th>
                <th>
                    Funtion of  SIMOCODE PANEL





                </th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
            </tr>



            <tr>
                <th>1.4.2</th>
                <th>
                    Functional Test  of  Contactor,Relay    etc..





                </th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
            </tr>




            <tr>
                <th>1.4.3</th>
                <th>
                    BMS signal  for ON/OFF/TRIP status







                </th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
            </tr>




            <tr>
                <th>1.4.4</th>
                <th>
                    Hand/Auto Selector Switch signal to BMS /PLC






                </th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
            </tr>




            <tr>
                <th>1.4.5</th>
                <th>
                    Status of Spare contacts






                </th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
            </tr>



            <tr>
                <th>1.4.6</th>
                <th>
                    Module Testing  Status Sticker






                </th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
                <th><input type="text" width="30px;" class="form-control"></th>
            </tr>


        </table>




        @*<table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
            <tr>
                <th>Tested By</th>

                <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>


            </tr>
            <tr>
                <th>Dated</th>

                <th><input type="date" leght="100px" ;width="30px;" class="form-control"></th>


            </tr>



        </table>*@
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary" style="background-color:#191c3696;">Submit</button>
        </div>
    




