
@{
    ViewBag.Title = "QF8HFATCERTIFICATE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        table, th {
            text-align: center;
        }

        .table-bordered {
            border-bottom: 1px solid black;
        }   
    </style>
    <div class="main_heading" style="background-color: #018bd3;height: 70px;">
        <h3 style="text-align: center; padding-top:18px;color: white;"><b><u>SIEMENS SIVACON TECHNOLOGY PARTNER</u></b> </h3>
    </div>
    <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">FACTORY ACCEPTANCE TEST CERTIFICATE (LV PRODUCT)</center></th>

        </tr>
        
        <tr>
            <th>
                Customer
            </th>

            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>Job NO</th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

        </tr>

        <tr>
            <th>
                Product:
            </th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th> Project </th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>





        <tr>
            <th>
                Date
            </th>
            <td><input type="date" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>
    </table>

    <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">ROUTINE TEST CONDUCTED AS PER (IEC 60439 – 1, 2004-04) STANDARDS.</center></th>

        </tr>



        <tr>
            <th>SR.#</th>
            <th>Routine Test</th>
            <th>Findings / Remarks</th>

        </tr>



        <tr>
            <th>1.</th>
            <th> Physical Inspection</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>

        <tr>
            <th>1.1</th>
            <th> Cubicle Dimensions.</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>

        <tr>
            <th>1.2</th>
            <th>Color</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>1.3</th>
            <th>Components according to drgs.  </th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>1.4</th>
            <th> Verification  of degree of protection, creepage & air distance.  </th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>1.5</th>
            <th> Door Interlocks.</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>

        <tr>
            <th>1.6</th>
            <th> Label Inscription.</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>

        <tr>
            <th>1.7</th>
            <th>Others. ( i )</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th></th>
            <th>( ii)</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th></th>
            <th>( iii)</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>


        <tr>
            <th>2</th>
            <th> Testing.</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th></th>
            <th>Dielectric Tests (excluding electronic components, lamps, solenoids, ets.)</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th></th>
            <th>
                Following value and duration of test voltage is applied on:
                Main circuit: 2500V for 1 min.
            </th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th></th>
            <th>a. R Phase and Y, B, N, E shorted. Earth leakage current-        <                  mA     </th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>

        <tr>
            <th></th>
            <th>b. Y Phase and R, B, N, E shorted   Earth leakage current-      <                   </th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th></th>
            <th>c. B Phase and R, Y,  N, E shorted.  Earth leakage current-      <                  mA </th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>


        <tr>
            <th></th>
            <th>d. Neutral  and R, Y, B, E shorted.  Earth leakage current-       <                  mA   </th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>

        <tr>
            <th>3</th>
            <th> Verification of correct wiring.</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>

        <tr>
            <th>4</th>
            <th>
                Electrical bonding b/w mechanical parts & structure.
                (With continuity tester), i.e.
            </th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>



        <tr>
            <th></th>
            <th>
                a. All metal parts and main earth bar.
            </th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>

        <tr>
            <th></th>
            <th>
                b. Doors and main earth bar.
            </th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>


        <tr>
            <th></th>
            <th>
                c. Metallic body of the components installed.( if applicable).
            </th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>




        <tr>
            <th>5</th>
            <th>
                Insulation resistance test – 1000V DC. (Megger test).
            </th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>



        <tr>
            <th></th>
            <th>
                a. Between  R – Y B N E                                                            >                       M
            </th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>

        <tr>
            <th></th>
            <th>
                b. Between  Y – R B N E                                                            >                      M
            </th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>


        <tr>
            <th></th>
            <th>
                c. Between  B – R Y  N E                                                           >                       M
            </th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>


        <tr>
            <th></th>
            <th>
                d. Between  N – R Y B  E                                                           >                       M                                                         >                       M
            </th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>






        <tr>
            <th>6</th>
            <th>
                Electrical functional test.
            </th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>



        <tr>
            <th>1.1</th>
            <th>
                Door Limit Switch Test                                                           >                       M
            </th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>

        <tr>
            <th>1.2</th>
            <th>
                Heater function Test                                                         >                      M
            </th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>


        <tr>
            <th>1.3</th>
            <th>
                Capacitor Bank Steps on Function                                                         >                       M
            </th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>


        <tr>
            <th>1.4</th>
            <th>
                Protection relay and ACB Trip unit Test                                                          >                       M                                                         >                       M
            </th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>


        <tr>
            <th>1.5</th>
            <th>
                Inter locking Check                                                         >                       M                                                         >                       M
            </th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>




        <tr>
            <th>1.6</th>
            <th>
                Control circuit operation (ATS/Synchronizing)                                                   >                       M                                                         >                       M
            </th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>



        <tr>
            <th><input type="checkbox" leght="100px" ;width="30px;" class="form-control"></th>

            <th>
                The tests / checks during the witness / inspection found to be satisfactory, with/ with out
                Comments as per annexure
                >                       M                                                         >                       M
            </th>
        </tr>


        <tr>
            <th><input type="checkbox" leght="100px" ;width="30px;" class="form-control"></th>

            <th>
                The tests / checks during the witness / inspection found to be unsatisfactory with the
                Comments as described on the ANNEXURE sheet enclosed herewith.

                >                       M                                                         >                       M
            </th>
        </tr>
    </table>


    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">ANNEXURE (To Client Witness Report)</center></th>

        </tr>



        <tr>
            <th>Job No:</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

        </tr>


        <tr>
            <th>Project:</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>Product:</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

        </tr>

        <tr>
            <th>1)</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>2)</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>3)</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>4)</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>5)</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>6)</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>7)</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

        </tr>

        <tr>
            <th>8)</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>9)</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

        </tr>

        <tr>
            <th>10)</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

        </tr>

        <tr>
            <th>DELIVERY. </th>
            <th>
                : Panels will be delivered on _________ after rectifying the above comments. (if applicable)

            </th>

        </tr>
    </table>
    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">FAT Test  Checklist for VFD</center></th>

        </tr>
        <tr>
            <th>Inspected & Tested by: </th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <th>Name</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <th>M/S</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>



        <tr>
            <th>Inspected & Tested by: </th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <th>Name</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <th>M/S</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>






        <tr>
            <th>Witnessed by 1   </th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <th>Name</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <th>M/S</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>




        <tr>
            <th>Witnessed by  2 </th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <th>Name</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <th>M/S</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>


        <tr>
            <th>Witnessed by  3 </th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <th>Name</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <th>M/S</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>


        <tr>
            <th>Witnessed by  4 </th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <th>Name</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <th>M/S</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>Witnessed by  5</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <th>Name</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <th>M/S</th>
            <th><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>



    </table>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary" style="background-color: #191c3696">Submit</button>
    </div>

