
@{
    ViewBag.Title = "QF6J";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table, th {
        text-align: center;
    }

    .table-bordered {
        border-bottom: 1px solid black;
    }
</style>
<div class="table-responsive-sm">
    <div class="main_heading" style="background-color: #018bd3;height: 70px;">
        <h3 style="text-align: center; padding-top: 22px; color: white; font-size: x-large;"><b>CURRENT TRANSFORMER NAMEPLATE DETAILS</b> </h3>
    </div>
    <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="12"><center style="font-size:larger;color:white">RELAY DATA</center></th>

        </tr>

        <tr>
            <th>Relay Type/Model</th>
            <td><input type="text" class="form-control"></td>
            <th>Aux. Voltage</th>
            <td><input type="text" class="form-control"></td>
            <th>Serial No</th>
            <td><input type="text" class="form-control"></td>
        </tr>

        <tr>
            <th>Rated Current</th>
            <td><input type="text" class="form-control"></td>
            <th>CT Ratio</th>

            <td><input type="text" class="form-control"></td>
            <th>Make</th>

            <td><input type="text" class="form-control"></td>

        </tr>
        <tr>
            <th>Equipment Tag</th>
            <td><input type="text" class="form-control"></td>
            <th>VT Ratio</th>
            <td><input type="text" class="form-control"></td>
            <th>Relay Function</th>
            <td><input type="text" class="form-control"></td>
        </tr>
        <!-- Repeat the above structure for additional rows -->
    </table>
    <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="12"><center style="font-size:larger;color:white">RELAY DATA</center></th>

        </tr>
        <tr>
            <th>Step</th>
            <th>Description</th>
            <th>Remarks</th>
        </tr>

        <tr>
            <td>I</td>
            <td>Verify Wiring tightness.</td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>II</td>
            <td>Check Relay Casing Earth.</td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>III</td>
            <td>Check C.T Shorting Provided.</td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>IV</td>
            <td>Check LED Indication and Check Resetting operation.</td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>V</td>
            <td>Check Watch Dog Relay Contact.</td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>VI</td>
            <td>Check Name Plate data according to the drawings and specifications.</td>
            <td><input type="text" class="form-control"></td>
        </tr>

    </table>
    <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="12"><center style="font-size:larger;color:white">Accuracy Check:</center></th>

        </tr>

        <tr>
            <th>PHASE</th>
            <th>INJECTED CURRENT (A)</th>
            <th>MEASURED READING</th>
            <th>In Primary (A)</th>
            <th>In Secondary (A)</th>
        </tr>


        <tr>
            <td>R</td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>Y</td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>B</td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>N</td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <!-- Repeat the above structure for additional rows -->

    </table>
    <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="12"><center style="font-size:larger;color:white">Voltmeter Accuracy</center></th>

        </tr>

        <tr>
            <th>PHASE</th>
            <th>INJECTED CURRENT (A)</th>
            <th>MEASURED READING</th>
            <th>In Primary (A)</th>
            <th>In Secondary (A)</th>
        </tr>


        <tr>
            <td>R</td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>Y</td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>B</td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>N</td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <!-- Repeat the above structure for additional rows -->

    </table>
    <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="12"><center style="font-size:larger;color:white">Voltmeter Accuracy</center></th>

        </tr>
        <tr>
            <th>PHASE</th>
            <th>RELAY SETTING</th>
            <th>PICKUP CURRENT</th>
            <th>DROP OFF CURRENT</th>
        </tr>
        
            <tr>
                <td>R</td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Y</td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>B</td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>EF</td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <!-- Repeat the above structure for additional rows -->
        
    </table>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary ml-auto" style="background-color:#191c3696;margin-bottom:10px">Submit</button>
    </div>
</div>


