
@{
    ViewBag.Title = "QF9E";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table, th {
        text-align: center;
    }

    .table-bordered {
        border-bottom: 1px solid black;
    }
</style>
<style>
    input[type=checkbox] {
        accent-color: pink;
        outline: 2px solid plum;
</style>

<div class="table-responsive-sm">
    <div class="main_heading" style="background-color:#018bd3;height: 70px;">
        <h3 style="text-align: center; padding-top:18px;color: white;"><b>Yearly Maintenance Check List</b> </h3>
    </div>

    <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">Equipment</center></th>

        </tr>
        <tr>
            <th>Equipment</th>
            <th>11kV Switchgear </th>
            <th> <input type="text" width="30px;" class="form-control"> </th>
            <th>Date: </th>
            <th><input type="date" width="30px;" class="form-control"> </th>
        </tr>

        <tr>
            <th>Description</th>

            <th>Service Instruction Sheet </th>
            <th> <input type="text" width="30px;" class="form-control"> </th>
            <th>Project: </th>
            <th><input type="text" width="30px;" class="form-control"> </th>
        </tr>
        <tr>
            <th>Service </th>
            <th>Yearly  </th>
            <th> <input type="text" width="30px;" class="form-control"> </th>
            <th>Switch board Ref: </th>
            <th><input type="text" width="30px;" class="form-control"> </th>
        </tr>

    </table>


    <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">Yearly Maintenance Check List</center></th>

        </tr>
        <tr>
            <th>SL No</th>
            <th>Operating System </th>
            <th colspan="2">Comments  </th>
            <th>Remarks  </th>

        </tr>
        <tr>
            <th></th>
            <th> </th>
            <th>Yes </th>
            <th>No </th>


        </tr>

        <tr>
            <th>1</th>
            <th>Cleaning of Bus bar Compartment </th>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language" value="CSS"></th>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language" value="CSS"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>

        <tr>
            <th>2</th>
            <th>Cleaning of Cable Compartment</th>
            <th style="color:plum;"><input type="radio" id="css" name="fav_languag" value="CSS"> </th>
            <th style="color:plum;"><input type="radio" id="css" name="fav_languag" value="CSS"> </th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>3</th>
            <th>Cleaning of Metering Compartment </th>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language1" value="CSS"> </th>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language1" value="CSS"> </th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>4</th>
            <th>Cleaning of Breaker Compartment </th>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language2" value="CSS"> </th>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language2" value="CSS"></th>
            <th><input type="text" width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>5</th>
            <th>Cleaning External of Top Covers & VT Compartment </th>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language3" value="CSS"> </th>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language3" value="CSS"> </th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>1</th>
            <th>Cleaning of Bus bar Compartment </th>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language" value="CSS"></th>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language" value="CSS"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>

        <tr>
            <th>2</th>
            <th>Cleaning of Cable Compartment</th>
            <th style="color:plum;"><input type="radio" id="css" name="fav_languag" value="CSS"> </th>
            <th style="color:plum;"><input type="radio" id="css" name="fav_languag" value="CSS"> </th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>3</th>
            <th>Cleaning of Metering Compartment </th>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language1" value="CSS"> </th>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language1" value="CSS"> </th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>4</th>
            <th>Cleaning of Breaker Compartment </th>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language2" value="CSS"> </th>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language2" value="CSS"></th>
            <th><input type="text" width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>5</th>
            <th>Cleaning External of Top Covers & VT Compartment </th>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language3" value="CSS"> </th>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language3" value="CSS"> </th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
    </table>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary ml-auto" style="background-color:#191c3696;margin-bottom:10px">Submit</button>
    </div>
</div>
