
@{
    ViewBag.Title = "QF9j";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    table, th {
        text-align: center;
    }

    .table-bordered {
        border-bottom: 1px solid black;
    }
</style>
<div class="table-responsive-sm">
    <div class="main_heading" style="background-color: #018bd3;height: 70px;">
        <h3 style="text-align: center; padding-top: 22px; color: white; font-size: x-large;"><b>DIELECTRIC WITHSTAND TEST</b> </h3>
    </div>
    <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">VOLTAGE TRANSFORMER NAMEPLATE DETAILS:</center></th>

        </tr>
        <tr>
            <th>Make</th>
            <th>Type </th>
            <th>S.r  </th>
            <th>Connection </th>
            <th>Radio </th>
            <th>Class </th>
        </tr>
        <tr>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>

        </tr>
    </table>
    <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">1.	MECHANICAL AND VISUAL INSPECTION</center></th>

        </tr>
        <tr>
            <th>Item</th>
            <th>Description </th>
            <th>Remarks  </th>

        </tr>
        <tr>
            <th>1</th>
            <th>Inspect for physical damage/defect.</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>2</th>
            <th>Check nameplate information for correction.	</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>3</th>
            <th>Check quality of paintwork and rust spots.	</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>4</th>
            <th>	Check that all grounding is securely connected.	</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>

    </table>
    <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">Insulation Resistance (in GΩ)</center></th>

        </tr>
        <tr>
            <th>Phase</th>
            <th>Primary-Secondary</th>
            <th>Primary-Ground </th>
            <th>Secondary-Ground</th>

        </tr>
        <tr>
            <th>1.1</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>1.2</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>1.3</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
    </table>
    <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="12"><center style="font-size:larger;color:white">RATIO AND POLARITY TEST</center></th>

        </tr>
        <tr>
            <th>Function</th>
            <th>Description</th>
            <th>Polarity</th>
            <th>
                Injected Voltage.
                (V)
            </th>
            <th>
                Expected Sec.
                Voltage (V)
            </th>
            <th>
                Measured Sec.
                Voltage (V)
            </th>
            <th>% Error</th>
        </tr>
        <tr>
            <th>VT</th>
            <th>r1 <br /> r2 <br /> r3</th>
            <th><input type="text" width="30px;" class="form-control"></th>

            <th><input type="text" width="30px;" class="form-control"></th>

            <th><input type="text" width="30px;" class="form-control"></th>

            <th><input type="text" width="30px;" class="form-control"></th>

            <th><input type="text" width="30px;" class="form-control"></th>

        </tr>
    </table>
    <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="12"><center style="font-size:larger;color:white">Test  Equipment Used:</center></th>

        </tr>
        <tr>
            <th></th>
            <th>Equipment Name</th>
            <th>Make/Model</th>
            <th>Serial No</th>
            <th>
                Calibration Due Date
            </th>
        </tr>
        <tr>
            <th>Multi Meter</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>Insulation Resistance Tester</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>Voltage Injection Kit</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
    </table>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary ml-auto" style="background-color:#191c3696;margin-bottom:10px">Submit</button>
    </div>
</div>

