
@{
    ViewBag.Title = "QF9K";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table, th {
        text-align: center;
    }

    .table-bordered {
        border-bottom: 1px solid black;
    }
</style>
<style>
    input[type=checkbox] {
        accent-color: pink;
        outline: 2px solid plum;
</style>

<div class="table-responsive-sm">
    <div class="main_heading" style="background-color:#018bd3;height: 70px;">
        <h3 style="text-align: center; padding-top:18px;color: white;"><b>Yearly Maintenance Check List</b> </h3>
    </div>
    <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">Yearly Maintenance Check List</center></th>

        </tr>
        <tr>
            <th>ITEMS TO CHECK</th>
            <th>CommentS </th>
            <th colspan="2">Operating SystemCHECK POINTS  </th>
            <th></th>
            <th>Remarks  </th>

        </tr>
        <tr>
            <th></th>
            <th></th>
            <th> </th>
            <th>Yes </th>
            <th>No </th>


        </tr>

        <tr>
            <th>1</th>
            <td>DIMENSIONS</td>
            <td>
                WHOLE CUBICLE
                COMPARTMENT AS IN DWG
                SHEET METAL THICKNESS
            </td>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language" value="CSS"></th>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language" value="CSS"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>

        <tr>
            <th>2</th>
            <td>	PAINT WORK	COLOUR CONFORMITY	YES/NO		</td>
            <td>
                PAINT PROPERLY CURED?	YES/NO


                PAINT WORK	COLOUR CONFORMITY	YES/NO
                NO PHYSICAL DEFECTS	YES/NO

            </td>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language" value="CSS"></th>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language" value="CSS"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>3</th>
            <td>DOOR</td>
            <td>
                DOOR	EASY OPENING & CLOSING	YES/NO


                SHEET METAL THICKNESS	      2.5 MM

            </td>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language" value="CSS"></th>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language" value="CSS"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>4</th>
            <td>
                LABLE S/N - PLATE	AS IN DRAWINGS	YES/NO



                PROTECTION CL	AS IN ENG. DATA SHEET	IP 4x
            </td>
            <td>
                LABLE S/N - PLATE	AS IN DRAWINGS	YES/NO



                PROTECTION CL	AS IN ENG. DATA SHEET	IP 4x

            </td>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language" value="CSS"></th>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language" value="CSS"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>5</th>
            <td>
                INSULATION	NO DEFECTS	YES/NO




                CORRECT SIZE	AS IN STD TABLE	YES/NO
                BUS BAR	CLEARANCE DIST	CLEARANCE FRAME PARTITION	MIN  63 MM
                TORQUE TEST	TORQUE MARKS ON BOLTS?	YES/NO
            </td>
            <td>
                FOUNDATION	CORRECT POSITION	YES/NO

                BOLTING HOLES	RUST FREE	YES/NO

            </td>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language" value="CSS"></th>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language" value="CSS"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>6</th>
            <td>
                RATING	AS IN DRAWINGS	YES/NO





                TYPE 	AS IN DRAWINGS	YES/NO
                COMPONENTS	CLEARANCE DIST	AS IN IEC/BS	YES/NO
                METERS/RELAYS	NEEDLE NOT STICKING 	YES/NO
            </td>
            <td>
                INSULATION	NO DEFECTS	YES/NO




                CORRECT SIZE	AS IN STD TABLE	YES/NO
                BUS BAR	CLEARANCE DIST	CLEARANCE FRAME PARTITION	MIN  63 MM
                TORQUE TEST	TORQUE MARKS ON BOLTS?	YES/NO

            </td>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language" value="CSS"></th>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language" value="CSS"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>

        <tr>
            <th>7</th>
            <td>DIMENSIONS</td>
            <td>
                EARTHING	 	PROPER MOUNTING	YES/NO

                SWITCH	 	CONTIP TO BLADES<.5 YES /NO

            </td>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language" value="CSS"></th>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language" value="CSS"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>8</th>
            <td>
                SIZE	CORRECT SIZES	YES/NO
                ROUTING	AS IN TAMCO STDS	YES/NO
                WIRINGS	COLOUR CODE	CORRECT COLOURS	YES/NO
                TERMINAL	WIRE TERMINATIONS	YES/NO
            </td>
            <td>
                RATING	AS IN DRAWINGS	YES/NO





                TYPE 	AS IN DRAWINGS	YES/NO
                COMPONENTS	CLEARANCE DIST	AS IN IEC/BS	YES/NO
                METERS/RELAYS	NEEDLE NOT STICKING 	YES/NO
                RING WIRE LUGS USED	YES/NO
                VCB	CORRECTION RATING

            </td>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language" value="CSS"></th>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language" value="CSS"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>9</th>
            <td>DIMENSIONS</td>
            <td>
                SIZE	CORRECT SIZES	YES/NO
                ROUTING	AS IN TAMCO STDS	YES/NO
                WIRINGS	COLOUR CODE	CORRECT COLOURS	YES/NO
                TERMINAL	WIRE TERMINATIONS	YES/NO

            </td>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language" value="CSS"></th>
            <th style="color:plum;"><input type="radio" id="css" name="fav_language" value="CSS"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        
    </table>
    <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="12"><center style="font-size:larger;color:white">Test  Equipment Used:</center></th>

        </tr>
        <tr>
            <th></th>
            <th>Equipment Name</th>
            <th>Make/Model</th>
            <th>Serial No</th>
            <th>
                Calibration Due Date
            </th>
        </tr>
        <tr>
            <th>Multi Meter</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>Insulation Resistance Tester</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>Voltage Injection Kit</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
    </table>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary ml-auto" style="background-color:#191c3696;margin-bottom:10px">Submit</button>
    </div>
</div>


