
@{
    ViewBag.Title = "RA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table, th {
        text-align: center;
    }

    .table-bordered {
        border-bottom: 1px solid black;
    }
</style>
<style>
    input[type=checkbox] {
        accent-color: pink;
        outline: 2px solid plum;
</style>

<div class="table-responsive-sm">
    <div class="main_heading" style="background-color:#018bd3;height: 70px;">
        <h3 style="text-align: center; padding-top:18px;color: white;"><b>Yearly Maintenance Check List</b> </h3>
    </div>
    <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">Risk Assesment</center></th>
        </tr>
        <tr>
            <th>Hazard</th>
            <th>Control Measures </th>
            <th>Remarks </th>
        </tr>
        <tr>
            <td>Electrocution, electric shock</td>
            <td>
                1. All test equipment safety tested, certified and calibrated.
                2. Equipment under test barricaded to provide physical and
                highly visible barrier to adjacent areas.
                3. Test personnel trained and certified to conduct testing safely.
                4. Test personnel trained and certified to use test equipment safely.
                5. Spotters utilised during high voltage testing.
                6. Industry standard procedures followed whilst approaching live parts.
                7. The use of effective supervision.
                8. The use of signage (ie) 'Warning - Equipment Under Test'.
                9. Susequent to energisation, obseverve Lockout and Tagging
                procedures.
            </td>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <td>Fall from heights</td>
            <td>
                1. Step ladders are restricted to 2M height.
                2. Personnel are trained in safe working at heights.
                3. Personnel are not permitted to work from the panel roof.
                4. .
                5..
                6..
            </td>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <td>Use of hand tools</td>
            <td>
                1. All personnel are trained in the use of hand tools.
                2. Hand tools are checked on a weekly basis.
                3. Correct tools to be used for the correct application.
                4..
                5..
                6..

            </td>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <td>Use of powered equipment</td>
            <td>
                1. All personnel are trained in the use of powered equipment.
                2. All powered equipment safety tested & certified.
                3. Guards and other protective parts to be maintained during operation.
                4. Relevant PPE to be worn (ie) goggles, hearing protection, etc.
                5..

            </td>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
    </table>
    <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">Risk Assesment</center></th>
        </tr>
        <tr>
            <th>Hazard</th>
            <th>Control Measures </th>
            <th>Remarks </th>
        </tr>
        <tr>
            <td>Electrocution, electric shock</td>
            <td>
                1. All test equipment safety tested, certified and calibrated.
                2. Equipment under test barricaded to provide physical and
                highly visible barrier to adjacent areas.
                3. Test personnel trained and certified to conduct testing safely.
                4. Test personnel trained and certified to use test equipment safely.
                5. Spotters utilised during high voltage testing.
                6. Industry standard procedures followed whilst approaching live parts.
                7. The use of effective supervision.
                8. The use of signage (ie) 'Warning - Equipment Under Test'.
                9. Susequent to energisation, obseverve Lockout and Tagging
                procedures.
            </td>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <td>Fall from heights</td>
            <td>
                1. Step ladders are restricted to 2M height.
                2. Personnel are trained in safe working at heights.
                3. Personnel are not permitted to work from the panel roof.
                4. .
                5..
                6..
            </td>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <td>Use of hand tools</td>
            <td>
                1. All personnel are trained in the use of hand tools.
                2. Hand tools are checked on a weekly basis.
                3. Correct tools to be used for the correct application.
                4..
                5..
                6..

            </td>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <td>Use of powered equipment</td>
            <td>
                1. All personnel are trained in the use of powered equipment.
                2. All powered equipment safety tested & certified.
                3. Guards and other protective parts to be maintained during operation.
                4. Relevant PPE to be worn (ie) goggles, hearing protection, etc.
                5..

            </td>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
    </table>

    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary ml-auto" style="background-color:#191c3696;margin-bottom:10px">Submit</button>
    </div>
</div>

