
@{
    ViewBag.Title = "Stamp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table, th {
        text-align: center;
    }

    .table-bordered {
        border-bottom: 1px solid black;
    }
</style>
<script>
    function addNewRow() {
        // Find the table body
        var tableBody = document.getElementById("testFormTableBody");
        console.log(tableBody);

        // Create a new row
        var newRow = document.createElement("tr");

        // Define the columns
        var columns = [
            { colspan: 3, type: "text", class: "form-control" },
            { colspan: 3, type: "text", class: "form-control" },
            { colspan: 3, type: "text", class: "form-control" },
            { colspan: 3, type: "text", class: "form-control" },
            { colspan: 3, type: "text", class: "form-control" },
            


        ];

        // Loop through columns and create cells
        for (var i = 0; i < columns.length; i++) {
            var cell = document.createElement("td");

            var input = document.createElement("input");
            input.type = columns[i].type;
            input.className = columns[i].class;
            cell.colSpan = columns[i].colspan;
            cell.appendChild(input);
            newRow.appendChild(cell);
        }

        // Append the new row to the table body
        tableBody.appendChild(newRow);
    }
</script>
<div class="table-responsive-sm">
    <div class="main_heading" style="background-color: #018bd3;height: 70px;">
        <h3 style="text-align: center; padding-top:18px;color: white;"><b>Contact Resistance</b> </h3>
    </div>
    <table class="table table-bordered" style="width: 100%; margin-top:10px; height: 70%; background-color: #f1f3ec66;">
        <thead>
            <tr style="background-color: #5f98ab;">
                <th colspan="30">
                    <center style="font-size:larger;color:white">SECONDARY INJECTION (O/C, E/F,UNDER-OVER VOLTAGE) TEST FORM</center>
                </th>
            </tr>
            <tr>
                <th colspan="3">Stamp</th>
                <th colspan="3">Allocated to</th>
                <th colspan="3">Issued</th>
                <th colspan="3">Date</th>
                <th colspan="3">Personnel </th>
               
            </tr>
        </thead>
        <tbody id="testFormTableBody">
            <!-- Your existing row with input fields -->
            <tr>
                <!-- Your existing input fields -->
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary" style="background-color:#191c3696;margin-bottom:10px;" onclick="addNewRow()">Add New</button>
    </div>
</div>