
@{
    ViewBag.Title = "VL_Stamp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table, th {
        text-align: center;
    }

    .table-bordered {
        border-bottom: 1px solid black;
    }
</style>
<script>
    function addNewRow() {
        // Find the table body
        var tableBody = document.getElementById("testFormTableBody");
        console.log(tableBody);

        // Create a new row
        var newRow = document.createElement("tr");

        // Define the columns
        var columns = [
            { colspan: 3, type: "text", class: "form-control" },
            { colspan: 3, type: "text", class: "form-control" },
            { colspan: 3, type: "text", class: "form-control" },
            { colspan: 3, type: "text", class: "form-control" },
            { colspan: 3, type: "text", class: "form-control" },
            { colspan: 3, type: "text", class: "form-control" },


        ];

        // Loop through columns and create cells
        for (var i = 0; i < columns.length; i++) {
            var cell = document.createElement("td");

            var input = document.createElement("input");
            input.type = columns[i].type;
            input.className = columns[i].class;
            cell.colSpan = columns[i].colspan;
            cell.appendChild(input);
            newRow.appendChild(cell);
        }

        // Append the new row to the table body
        tableBody.appendChild(newRow);
    }
</script>
<div class="table-responsive-sm">
    <div class="main_heading" style="background-color: #018bd3;height: 70px;">
        <h3 style="text-align: center; padding-top:18px;color: white;"><b>Contact Resistance</b> </h3>
    </div>
    <table class="table table-bordered   mt-2" style="border: none;width: 100%; background-color: #f1f3ec66; ">
        <tr style="background-color: #5f98ab;">
            <th colspan="12"><center style=" font-size:larger;color:white">Ductor Test</center></th>

        </tr>
        <tr>
            <th>Panel:</th>
            <th><input type="text" class="form-control"></th>
            <th>Date:</th>
            <th><input type="date" class="form-control"></th>
        </tr>
        <tr>
            <th>Testing Agency:</th>
            <th><input type="text" class="form-control"></th>
            <th>Tested and Certified by::</th>
            <th><input type="text" class="form-control"></th>
        </tr>
    </table>
    <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">Yearly Maintenance Check List</center></th>

        </tr>
        <tr>
            <th>SL No</th>
            <th>Maintenance Check Points </th>
            <th colspan="2">Checked  </th>
            <th>Remarks  </th>

        </tr>
        <tr>
            <th></th>
            <th> </th>
            <th>Yes </th>
            <th>No </th>
        </tr>
        <tr>
            <td colspan="5" style="color:green;background-color:lightgrey;"> (A)Visual Inspection & General Cleaning<br> </th>
        <tr>
            <th>1</th>
            <th>1.Check that phase and control wiring sizes are in accordance with Circuit Diagrams </th>
            <th style="color:plum;"><input type="radio" id="html" name="fav_language" value="HTML"></th>
            <th style="color:plum;"><input type="radio" id="html" name="fav_language" value="HTML"></th>
            <th><input type="text" class="form-control"></th>
        </tr>
        <tr>
            <th>2</th>
            <th>2.Check that phase and control wiring colours are in accordance with Circuit Diagrams</th>
            <th style="color:plum;"><input type="radio" id="html" name="fav_languag" value="HTML"></th>
            <th style="color:plum;"><input type="radio" id="html" name="fav_languag" value="HTML"></th>
            <th><input type="text" class="form-control"></th>
        </tr>
        <tr>
            <th>3</th>
            <th>3.Ensure all main power cable connections are checked for tightness</th>
            <th style="color:plum;"><input type="radio" id="html" name="fav_langua" value="HTML"></th>
            <th style="color:plum;"><input type="radio" id="html" name="fav_langua" value="HTML"></th>
            <th><input type="text" class="form-control"></th>
        </tr>
        <tr>
            <th>4</th>
            <th>4.Ensure that all control wiring connections are be checked for tightness and integrity and subjected to a pull test</th>
            <th style="color:plum;"><input type="radio" id="html" name="fav_langu" value="HTML"></th>
            <th style="color:plum;"><input type="radio" id="html" name="fav_langu" value="HTML"></th>
            <th><input type="text" class="form-control"></th>
        </tr>
        <tr>
            <th>5</th>
            <th>5.Crimp connections shall be inspected and subjected to a random pull test</th>
            <th style="color:plum;"><input type="radio" id="html" name="fav_lang" value="HTML"></th>
            <th style="color:plum;"><input type="radio" id="html" name="fav_lang" value="HTML"></th>
            <th><input type="text" class="form-control"></th>
        </tr>
        <tr>
            <th>6</th>
            <th>6.Point to point check tier interconnecting and common wiring </th>
            <th style="color:plum;"><input type="radio" id="html" name="fav_lan" value="HTML"></th>
            <th style="color:plum;"><input type="radio" id="html" name="fav_lan" value="HTML"></th>
            <th><input type="text" class="form-control"></th>
        </tr>
        <tr>
            <th>7</th>
            <th>7.Confirm correct Busbar rotation</th>
            <th style="color:plum;"><input type="radio" id="html" name="fav_language1" value="HTML"></th>
            <th style="color:plum;"><input type="radio" id="html" name="fav_language1" value="HTML"></th>
            <th><input type="text" class="form-control"></th>
        </tr>
        <tr>
            <th>8</th>
            <th>8.Confirm Current Transformers secondary terminals are earthed</th>
            <th style="color:plum;"><input type="radio" id="html" name="fav_language2" value="HTML"></th>
            <th style="color:plum;"><input type="radio" id="html" name="fav_language2" value="HTML"></th>
            <th><input type="text" class="form-control"></th>
        </tr>
    </table>

    <table class="table table-bordered" style="width: 100%; margin-top:10px; height: 70%; background-color: #f1f3ec66;">
        <thead>
            <tr style="background-color: #5f98ab;">
                <th colspan="30">
                    <center style="font-size:larger;color:white">Risk Assessment</center>
                </th>
            </tr>
            <tr>
                <th colspan="3">Ammeter</th>
                <th colspan="3">Model and Type</th>
                <th colspan="3">Current In (A)</th>
                <th colspan="3">Current Out (A)</th>
                <th colspan="3">Meter Reading</th>
                <th colspan="3">Scale</th>

            </tr>
        </thead>
        <tbody id="testFormTableBody">
            <!-- Your existing row with input fields -->
            <tr>
                <!-- Your existing input fields -->
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary" style="background-color:#191c3696;margin-bottom:10px;" onclick="addNewRow()">Add New</button>
    </div>


</div>


