
@{
    ViewBag.Title = "Annexure9";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    .main_input {
        height: 100%;
    }

    .table-bordered {
        border-bottom: 1px solid black;
    }

    body {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
</style>

<div class="main_heading" style="background-color: #018bd3;height: 70px;">
    <h3 style="text-align: center; padding-top:18px;color: white;"><b>FINISHED GOODS QC CHECK LIST</b> </h3>
</div>

<table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
    <tr style="background-color: #5f98ab;">
        <th colspan="6"><center style="font-size:larger;color:white">est/QC FORMS</center></th>

    </tr>
    <tr>
        <th>
            SI NO
        </th>
        <th>Document Number</th>
        <th>
            Test Description
        </th>
    </tr>


    <tr>
        <th>
            1
        </th>
        <th>
            QF 1C
        </th>
        <th>
            Non Conformance Report

        </th>
    </tr>




    <tr>
        <th>
            2
        </th>
        <th>
            QF 1H

        </th>
        <th>
            Corrective Action Request


        </th>
    </tr>






    <tr>
        <th>
            3
        </th>
        <th>
            QF 3J


        </th>
        <th>
            MV Switchgear Dielectric Withstand Test Form


        </th>
    </tr>




    <tr>
        <th>
            4
        </th>
        <th>
            QF-6J



        </th>
        <th>
            (OC,EF,UNDER/OVER VOLTAGE) Relay Test Form


        </th>
    </tr>



    <tr>
        <th rowspan="14">
            5
        </th>
        <th rowspan="14s ">QF 6U </th>
        <th>
            Circuit Breaker Test Form_Rev 1
        </th>
    </tr>
    <tr>

        <th>
            KWH METER Routine Test Report

        </th>
    </tr>
    <tr>

        <th>
            DB-Routine Test Report

        </th>
    </tr>
    <tr>

        <th>
            DOL-STATER Routine Test Report

        </th>
    </tr>


    <tr>

        <th>
            FDB-Routine Test Report


        </th>
    </tr>

    <tr>

        <th>
            MCC-Routine Test Report


        </th>
    </tr>
    <tr>

        <th>
            MDP -Routine Test Report


        </th>
    </tr>
    <tr>

        <th>
            MODULE-Routine Test Report


        </th>
    </tr>
    <tr>

        <th>
            PFC-Routine Test Report


        </th>
    </tr>
    <tr>

        <th>
            DOL-STATER Routine Test Report

        </th>
    </tr>
    <tr>

        <th>
            PRIMARY INJECTION ROUTINE  REPORT


        </th>
    </tr>
    <tr>

        <th>
            SMDB_ESB_LDP-Routine Test Report

        </th>
    </tr>
    <tr>

        <th>
            Star-Delta Module


        </th>
    </tr>


    <tr>

        <th>
            VFD-Routine  Test Report



        </th>
    </tr>




    <tr>
        <th rowspan="3">
            6
        </th>
        <th rowspan="3">
            QF 6W





        </th>
        <th>
            Snag List and Snag Analysis



        </th>
    </tr>

    <tr>

        <th>
            Manufacturing Process Measurement




        </th>
    </tr>
    <tr>

        <th>
            Quality Control Process Measurement





        </th>
    </tr>



    <tr>
        <th>
            7
        </th>
        <th>
            QF 6Z



        </th>
        <th>
            Busbar Milli Volt Drop Test Form


        </th>
    </tr>



    <tr>
        <th>8</th>
        <th>QF-9A</th>
        <th> Ammeter Test Form</th>
    </tr>




    <tr>
        <th>9</th>
        <th>QF-9B</th>
        <th> Voltmeter  Test Form  </th>
    </tr>



    <tr>
        <th>10</th>
        <th>QF-9C</th>
        <th>
            Vacuum Circuit Breaker Test Form
        </th>
    </tr>



    <tr>
        <th>11</th>
        <th>QF-9D</th>
        <th>
            Energy Meter test Form
        </th>
    </tr>

    <tr>
        <th>12</th>
        <th>
            QF-9E
        </th>
        <th>
            Mechanical Interlock Test Form
        </th>
    </tr>

    <tr>
        <th>13</th>
        <th>
            QF-9F
        </th>
        <th>
            Earth Switch Millivolt Drop Test Form
        </th>
    </tr>

    <tr>
        <th>14</th>
        <th>
            QF 9G
        </th>
        <th>
            Point to Point Check Test Form.
        </th>
    </tr>

    <tr>
        <th>15</th>
        <th>QF 9H</th>
        <th>
            Scheme  Check Test Form.
        </th>
    </tr>

    <tr>
        <th>16</th>
        <th>
            QF-9I
        </th>
        <th>
            Current Transformer  Test Form
        </th>
    </tr>

    <tr>
        <th>17</th>
        <th>
            QF-9J
        </th>
        <th>
            Voltage Transformer Test Form
        </th>
    </tr>


    <tr>
        <th>18</th>
        <th>
            QF 9K
        </th>
        <th>
            Dimensional  Check Form.
        </th>
    </tr>

    <tr>
        <th>19</th>
        <th>QF 9L </th>
        <th>
            Torque Check Form.
        </th>
    </tr>


    <tr>
        <th>20</th>
        <th>
            QF-9N
        </th>
        <th>
            Bus bar differential protection Relay Test Form
        </th>
    </tr>


    <tr>
        <th>21</th>
        <th>
            QF-9O
        </th>
        <th>
            Transformer  differential protection Relay Test Form
        </th>
    </tr>


    <tr>
        <th>22</th>
        <th>
            QF-9P
        </th>
        <th>
            Observation Checklist_MV
        </th>
    </tr>




</table>

<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary" style="background-color:#191c3696;margin-bottom:10px;">Submit</button>
</div>



