
@{
    ViewBag.Title = "QF6UPRIMARY";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<<<<<<< HEAD
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        table, th {
            text-align: center;
        }

        .table-bordered {
            border-bottom: 1px solid black;
        }
    </style>
    <table class="table table-bordered" style="width: 100%; height: 70%; background-color: #f1f3ec66">

        <tr>
            <th colspan="6">
                <center>
                    QF 6U PRIMARY INJECTION ROUTINE  REPORT
                </center>
            </th>

        </tr>
        c
        <tr style="background-color: #f1f3ec66">
            <th colspan="6">
                <center>
                    PRIMARY INJECTION TEST REPORT
                </center>
            </th>

        </tr>
        <tr>
            <th>
                Project
            </th>

            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>CONTRACTOR</th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>TAMCO Ref:</th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <tr>
            <th>
                TYPE OF TEST:PRIMARY INJECTION TEST ON:
            </th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>
                Date
            </th>
            <td><input type="date" leght="100px" ;width="30px;" class="form-control"></th>
        </tr>
    </table>


    <table class="ttttt table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66">


        <tr style="background-color: #f1f3ec66">
            <th>PHASES</th>
            <th>
                "BREAKER
                TAG NAME"

            </th>
            <th>
                BREAKER SERIAL NO.
            </th>
            <th>
                FEEDER Ref.

            </th>
            <th>
                BREAKER RATING

            </th>




            <th colspan="4"><center>Settings</center></th>
            <th colspan="2">
                TIME TAKEN TO TRIP(in secs or min)
            </th>
            <th>
                Expected Time with Tolerance from the curve

            </th>
            <th colspan="2">limit</th>


            <th colspan="2">Status</th>
            <th colspan="2">TEST IS PASS</th>
        </tr>



        <tr>
            <th></th>
            <th>

            </th>
            <th>
            </th>
            <th>

            </th>
            <th>
            </th>
            <th>
                CURRENT SETTED (Ir)

            </th>
            <th>
                SETTED CURRENT

            </th>
            <th>
                Isd

            </th>
            <th>
                CURRENT INJECTED

            </th>

            <th>Sec</th>
            <th>Min</th>
            <th>
            </th>

            <th>Min</th>
            <th>Max</th>
            <th>
                TRIPPED
            </th>
            <th>
                "NOT
                TRIPPED"
            </th>

            <th>
                YES
            </th>
            <th>NO</th>
        </tr>


        <tr>
            <th>R</th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>



        </tr>
        <tr>
            <th>Y</th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>



        </tr>



        <tr>
            <th>B</th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>



        </tr>







        <tr>
            <th>R</th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>



        </tr>
        <tr>
            <th>Y</th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>



        </tr>



        <tr>
            <th>B</th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
            <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
=======
>>>>>>> 2737d907e591738ddc07d03c5ea9e98303faa79f

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    .main_input {
        height: 100%;
    }

    .table-bordered {
        border-bottom: 1px solid black;
    }

    body {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
</style>

<div class="main_heading" style="background-color: #018bd3;height: 70px;">
    <h3 style="text-align: center; padding-top:18px;color: white;"><b>QF 6U PRIMARY INJECTION ROUTINE  REPORT</b> </h3>
</div>

<table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
    <tr style="background-color: #5f98ab;">
        <th colspan="6"><center style="font-size:larger;color:white">PRIMARY INJECTION TEST REPORT</center></th>

    </tr>



    <tr>
        <th>
            Project
        </th>

        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

    </tr>
    <tr>
        <th>CONTRACTOR</th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

    </tr>
    <tr>
        <th>TAMCO Ref:</th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
    <tr>
        <th>
            TYPE OF TEST:PRIMARY INJECTION TEST ON:
        </th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
    </tr>
    <tr>
        <th>
            Date
        </th>
        <td><input type="date" leght="100px" ;width="30px;" class="form-control"></th>
    </tr>
</table>


<table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">


    <tr style="background-color: #f1f3ec66">
        <th>PHASES</th>
        <th>
            "BREAKER
            TAG NAME"

        </th>
        <th>
            BREAKER SERIAL NO.
        </th>
        <th>
            FEEDER Ref.

        </th>
        <th>
            BREAKER RATING

        </th>




        <th colspan="4"><center>Settings</center></th>
        <th colspan="2">
            TIME TAKEN TO TRIP(in secs or min)
        </th>
        <th>
            Expected Time with Tolerance from the curve

        </th>
        <th colspan="2">limit</th>


        <th colspan="2">Status</th>
        <th colspan="2">TEST IS PASS</th>
    </tr>



    <tr>
        <th></th>
        <th>

        </th>
        <th>
        </th>
        <th>

        </th>
        <th>
        </th>
        <th>
            CURRENT SETTED (Ir)

        </th>
        <th>
            SETTED CURRENT

        </th>
        <th>
            Isd

        </th>
        <th>
            CURRENT INJECTED

        </th>

        <th>Sec</th>
        <th>Min</th>
        <th>
        </th>

        <th>Min</th>
        <th>Max</th>
        <th>
            TRIPPED
        </th>
        <th>
            "NOT
            TRIPPED"
        </th>

        <th>
            YES
        </th>
        <th>NO</th>
    </tr>


    <tr>
        <th>R</th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>



    </tr>
    <tr>
        <th>Y</th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>



    </tr>



    <tr>
        <th>B</th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>



    </tr>







    <tr>
        <th>R</th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>



    </tr>
    <tr>
        <th>Y</th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>



    </tr>



    <tr>
        <th>B</th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>



    </tr>








    <tr>
        <th>R</th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>



    </tr>
    <tr>
        <th>Y</th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>



    </tr>



    <tr>
        <th>B</th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th>



    </tr>

</table>



<table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">

    <tr>
        <th>Tested By</th>

        <td>
        <td><input type="text" leght="100px" ;width="30px;" class="form-control"></th></td>


    </tr>
    <tr>
        <th>Dated</th>

        <td>
        <td><input type="date" leght="100px" ;width="30px;" class="form-control"></th></td>


    </tr>



</table>
<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary" style="background-color:#191c3696;margin-bottom:10px;">Submit</button>
</div>




