
@{
    ViewBag.Title = "QF6U";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    .main_input {
        height: 100%;
    }

    .table-bordered {
        border-bottom: 1px solid black;
    }

    body {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
</style>

<div class="main_heading" style="background-color: #018bd3;height: 70px;">
    <h3 style="text-align: center; padding-top:18px;color: white;"><b>ROUTINE TEST REPORT</b> </h3>
</div>

<table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
    <tr style="background-color: #5f98ab;">
        <th colspan="6"><center style="font-size:larger;color:white">FAT Test Checklist</center></th>

    </tr>
    <tr>
        <th colspan="6">
            FAT Test Checklist for DB

        </th>

    </tr>

    <tr>
        <th colspan="1">
            DB NO:
        </th>
        <td colspan="5"><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

    </tr>
    <tr>
        <th>Job:</th>
        <td colspan="3"><input type="date" width="30px;" class="form-control"></th>
        <th>Line No:</th>
        <th><input type="text" width="30px;" class="form-control"></th>
    </tr>
    <tr>
        <th>Date:</th>
        <td colspan="3"><input type="date" width="30px;" class="form-control"></th>
        <th>Tester:</th>
        <th><input type="text" width="30px;" class="form-control"></th>
    </tr>
</table>


<table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
    <tr style="background-color: #5f98ab;">
        <th colspan="6"><center style="font-size:larger;color:white">1 Final test after completion</center></th>

    </tr>

    <tr>
        <th>1.1</th>
        <th>
            Identity check and visual check

        </th>
    </tr>


    <tr>
        <th>1.1.0</th>
        <th>
            Type of enclosure according to drawings.


        </th>
    </tr>
    <tr>
        <th>1.1.1</th>
        <th>
            Installation of equipments according to drawings.



        </th>
    </tr>
    <tr>
        <th>1.1.2</th>
        <th>
            Enclosure & equipments match technical data



        </th>
    </tr>
    <tr>
        <th>1.1.3</th>
        <th>
            Busbar pan assembly & tap-off connections to outgoing circuits/Neutral busbars verified




        </th>
    </tr>
    <tr>
        <th>1.1.4</th>
        <th>
            Check labelling and identification is according to drawing




        </th>
    </tr>
    <tr>
        <th>1.1.5</th>
        <th>
            Check devices and component markers against equipment schedule




        </th>
    </tr>
    <tr>
        <th>1.1.6</th>
        <th>
            Paint colour and finish correct.
            Exterior / Interior     -  RAL-7032




        </th>
    </tr>


    <tr>
        <th>1.1.7</th>
        <th>
            Provision of supports/facility for dressing clamping outgoing circuit cables

            .


        </th>
    </tr>

    <tr>
        <th>1.1.8</th>
        <th>
            Rating/size of Earth busbar & terminals




        </th>
    </tr>

    <tr>
        <th>1.1.9</th>
        <th>
            Fault level rating of the circuit breakers according to the drawings





        </th>
    </tr>



</table>


<table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">

    <tr>
        <th>
            1.2

        </th>
        <th>Wiring</th>
    </tr>

    <tr>
        <th>
            1.2.1


        </th>
        <th>
            Ensure wiring is not passing over any sharp edges
        </th>
    </tr>
    <tr>
        <th>
            1.2.2


        </th>
        <th>
            Wiring colours correct
        </th>
    </tr>


    <tr>
        <th>
            1.2.3


        </th>
        <th>
            Segregation of wiring correct

        </th>
    </tr>

    <tr>
        <th>
            1.2.4


        </th>
        <th>
            Cross section of wiring correct

        </th>
    </tr>
    <tr>
        <th>
            1.2.5


        </th>
        <th>
            Wire marking and identification system complete

        </th>
    </tr>
    <tr>
        <th>
            1.2.6


        </th>
        <th>
            Tightness of terminations checked

        </th>
    </tr>
</table>




<table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">

    <tr>
        <th>
            1.3

        </th>
        <th>
            Electrical test
        </th>
    </tr>

    <tr>
        <th>
            1.3.1


        </th>
        <th>
            Check DB is completely functional as per drawings

        </th>
    </tr>
    <tr>
        <th>
            1.3.2


        </th>
        <th>
            Check operation of circuit contacts and devices

        </th>
    </tr>



</table>





<table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">

    <tr>
        <th>
            1.4

        </th>
        <th>
            Final test

        </th>
    </tr>

    <tr>
        <th>
            1.4.1


        </th>
        <th>
            Ensure DB is clean


        </th>
    </tr>
    <tr>
        <th>
            1.4.2


        </th>
        <th>
            Ensure any comments to the drawings are marked up and returned to document control.


        </th>
    </tr>



</table>








<table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
    <tr style="background-color: #5f98ab;">
        <th colspan="6"><center style="font-size:larger;color:white">Tamco Middle East</center></th>

    </tr>
    <tr>
        <th>Test Equipment</th>
        <th>Inst.No</th>
        <th>Cal.Date</th>
        <th>Cal Due Date</th>
    </tr>


    <tr>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="date" width="30px;" class="form-control"></th>
        <th><input type="date" width="30px;" class="form-control"></th>

    </tr>


    <tr>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="date" width="30px;" class="form-control"></th>
        <th><input type="date" width="30px;" class="form-control"></th>

    </tr>
</table>
<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary" style="background-color:#191c3696;margin-bottom:10px;">Submit</button>
</div>




