
@{
    ViewBag.Title = "QFQF6J";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    .main_input {
        height: 100%;
    }

    .table-bordered {
        border-bottom: 1px solid black;
    }

    body {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
</style>

<div class="table-responsive-sm">
    <div class="main_heading" style="background-color: #018bd3;height: 70px;">
        <h3 style="text-align: center; padding-top:18px;color: white;"><b>RELAY TEST FORM</b> </h3>
    </div>

    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">SECONDARY INJECTION (O/C, E/F,UNDER-OVER VOLTAGE) TEST FORM </center></th>

        </tr>
        <tr>
            <th>Customer/Client</th>
            <td colspan="3"><input type="text" width="30px;" class="form-control"></th>
            <th>ENQ/Job Number</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <td colspan="1">Project Title </th>
            <td colspan="5"><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>Switchgear Board Ref:</th>
            <td colspan="3"><input type="text" width="30px;" class="form-control"></th>
            <th>Panel Ref:</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
    </table>

    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">1:Relay Data</center></th>

        </tr>

        <tr>
            <th>Relay Type/Model</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th>Aux. Voltage</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th>Serial No</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>Rated  current</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th>CT Ratio</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th>Make</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>Equipment Tag</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th>VT Ratio</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th>Relay Function</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
    </table>


    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">2:General Inspection & Check</center></th>

        </tr>

        <tr>
            <th>I</th>
            <th>Verify Wiring Tightness</th>
            <th><input type="text" width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>II</th>
            <th>Check Relay Casing Earth</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>III</th>
            <th>Check C.T Shorting Provided</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>IV</th>
            <th>Check LED induction and Check Resetting Operation</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>V</th>
            <th>Check Watch Dog Relay Contact </th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>VI</th>
            <th>Check Name Plate data s=according to the drawings and specifications</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
    </table>


    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">3.Accuracy Check:     Ammeter Accuracy</center></th>

        </tr>
        <tr>
            <th>PHASE</th>
            <th>INJECTED CURRENT ( A)</th>
            <td colspan="2">
                MEASURED READING
            </td>
        </tr>
        <tr>
            <th></th>
            <th> </th>
            <th>In Primary(A)</th>
            <th>In Primary(B) </th>
        </tr>
        <th>R</th>
        <td rowspan="3"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>Y</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>B</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>N</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
    </table>
    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">Voltmeter Accuracy</center></th>

        </tr>

        <tr>
            <th>PHASE</th>
            <th>INJECTED VOLTAGE(V))</th>
            <td colspan="2">
                MEASURED READING
            </td>
        </tr>
        <tr>
            <th></th>
            <th> </th>
            )</th>
            <th>In Primary(V)</th>
            <th>In Primary(V) </th>
        </tr>
        <th>R</th>
        <td rowspan="3"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>Y</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>B</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>N</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
    </table>


    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">4.	Pick Up – Drop off Test I> and Ie> Element</center></th>

        </tr>
        <tr>
            <th>PHASE</th>
            <th>RELAY SETTING</th>
            <th>PICKUP CURRENT</th>
            <th>DROP OFF CURRENT</th>

        </tr>
        <tr>
            <th>R</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>Y</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>B</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>EF</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>

        </tr>
    </table>
    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">

        <tr>
            <th></th>
            <th>Tested By</th>
            <th>Quality Control Engineer</th>
            <th>Project Manager</th>

        </tr>
        <tr>
            <th>Name</th>
            <th><input type="text" class="form-control"></th>
            <th><input type="text" class="form-control"></th>
            <th><input type="text" class="form-control"></th>

        </tr>
        <tr>
            <th>Sign</th>
            <th><input type="text" class="form-control"></th>
            <th><input type="text" class="form-control"></th>
            <th><input type="text" class="form-control"></th>
        <tr>
            <th>Date</th>
            <th><input type="text" class="form-control"></th>
            <th><input type="text" class="form-control"></th>
            <th><input type="text" class="form-control"></th>
        </tr>

    </table>
</div>
<div class="table-responsive-sm">
    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">TAMCO Middle East</center></th>

        </tr>
        <tr>
            <th colspan="6"></th>

        </tr>
        <tr>
            <th>Customer/Client</th>
            <td colspan="3"><input type="text" width="30px;" class="form-control"></th>
            <th>ENQ/Job Number</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <td colspan="1">Project Title </th>
            <td colspan="5"><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>Switchgear Board Ref:</th>
            <td colspan="3"><input type="text" width="30px;" class="form-control"></th>
            <th>Panel Ref:</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
    </table>


    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">5.	Pick Up – Drop off Test I> and Ie> Element</center></th>

        </tr>
        <tr>
            <th>PHASE</th>
            <th>RELAY SETTING</th>
            <th>PICKUP CURRENT</th>
            <th>DROP OFF CURRENT</th>

        </tr>
        <tr>
            <th>R</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>Y</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>B</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>EF</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>

        </tr>
    </table>




    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="12"><center style="font-size:larger;color:white">6.	Operating Time – tI>and tIe> Element</center></th>

        </tr>
        <tr>
            <th>PHASE</th>
            <th>RELAY SETTING (Is)</th>
            <th>TIME MULTIPLIER SETTING(TMS)</th>
            <td colspan="4">
                OPERATING TIME (sec)
            </td>
        </tr>
        <tr>
            <th></th>
            <th> </th>
            <th> </th>

            <td colspan="2"><b>2 X Is</b></td>

            <td colspan="2"><b>2 X Is</b></td>

        </tr>
        <tr>
            <th></th>
            <th> </th>
            <th> </th>

            <th>Actual</th>
            <th>Measured </th>
            <th>Actual</th>
            <th>Measured </th>
        </tr>
        <th>R</th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>Y</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>



        </tr>
        <tr>
            <th>B</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>

        <tr>
            <th>EF</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
    </table>



    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
        </tr>
        

        <tr>
            <th>PHASE</th>
            <th>RELAY SETTING (Is)</th>
            <th>TIME SETTING</th>
            <th>OPERATING TIME  2 X Is (sec)</th>
        </tr>
        <tr>
        </tr>
        <th>R</th>
        <td rowspan="3"></th>
        <td rowspan="3"> </th>
        <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>Y</th>
            <th><input type="text" width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>B</th>
            <th><input type="text" width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>EF</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>

        </tr>
    </table>
    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">8.	Under Voltage 27 Stage – 1</center></th>

        </tr>
        <tr>
            <th>Setting Voltage</th>
            <th>Pick up</th>
            <th>Drop out</th>
            <th>Setting Time(Sec)</th>
            <th>Operated Time(Sec)</th>
        </tr>



        <tr>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
    </table>
    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr>
            <th></th>
            <th>Tested By</th>
            <th>Quality Control Engineer</th>
            <th>Project Manager</th>

        </tr>
        <tr>
            <th>Name</th>
            <th><input type="text" class="form-control"></th>
            <th><input type="text" class="form-control"></th>
            <th><input type="text" class="form-control"></th>

        </tr>
        <tr>
            <th>Sign</th>
            <th><input type="text" class="form-control"></th>
            <th><input type="text" class="form-control"></th>
            <th><input type="text" class="form-control"></th>
        <tr>
            <th>Date</th>
            <th><input type="text" class="form-control"></th>
            <th><input type="text" class="form-control"></th>
            <th><input type="text" class="form-control"></th>
        </tr>

    </table>



    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">SECONDARY INJECTION (O/C, E/F,UNDER-OVER VOLTAGE) TEST FORM </center></th>

        </tr>

        <tr>
            <th colspan="6">TAMCO Middle East</th>

        </tr>
        <tr>
            <th>Customer/Client</th>
            <td colspan="3"><input type="text" width="30px;" class="form-control"></th>
            <th>ENQ/Job Number</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <td colspan="1">Project Title </th>
            <td colspan="5"><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>Switchgear Board Ref:</th>
            <td colspan="3"><input type="text" width="30px;" class="form-control"></th>
            <th>Panel Ref:</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
    </table>

    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">9.	Over Voltage 59 Stage - 1 </center></th>

        </tr>
        <tr>
            <th colspan="6"></th>

        </tr>
        <tr>
            <th>Setting Voltage</th>
            <th>Pick up</th>
            <th>Drop out</th>
            <th>Setting Time(Sec)</th>
            <th>Operated Time(Sec)</th>
        </tr>



        <tr>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>

    </table>

</div>

<h6>10.	Binary Input Check      Checked the operation of Binary Inputs    </h6>
<h6>11.	Binary Input Check      Checked the operation of all output relays     </h6>
<h6>	12.	  LED Check      Checked the operation of all LED’s             </h6>
<table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
    <tr style="background-color: #5f98ab;">
        <th colspan="6"><center style="font-size:larger;color:white">Test  Equipment Used</center></th>

    </tr>
    <tr>
        <th>Equipment Name</th>
        <th>Make/Model</th>
        <th>Serial No</th>
        <th>Calibration Due Date</th>
    </tr>


    <tr>
        <th>Secondary Injection Kit</th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

    </tr>


    <tr>
        <th>Multi Meter</th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

    </tr>
</table>


<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary" style="background-color:#191c3696;margin-bottom:10px;">Submit</button>
</div>





<div class="table-responsive-sm">
    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">SECONDARY INJECTION (O/C, E/F,UNDER-OVER VOLTAGE) TEST FORM </center></th>

        </tr>

        <tr>
            <th>Customer/Client</th>
            <td colspan="3"><input type="text" width="30px;" class="form-control"></th>
            <th>ENQ/Job Number</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <td colspan="1">Project Title </th>
            <td colspan="5"><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>Switchgear Board Ref:</th>
            <td colspan="3"><input type="text" width="30px;" class="form-control"></th>
            <th>Panel Ref:</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
    </table>

    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">1:Relay Data</center></th>

        </tr>
        <tr>
            <th>Relay Type/Model</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th>Aux. Voltage</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th>Serial No</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>Rated  current</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th>CT Ratio</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th>Make</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>Equipment Tag</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th>VT Ratio</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th>Relay Function</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
    </table>


    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">2:General Inspection & Check</center></th>

        </tr>
        <tr>
            <th>I</th>
            <th>Verify Wiring Tightness</th>
            <th><input type="text" width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>II</th>
            <th>Check Relay Casing Earth</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>III</th>
            <th>Check C.T Shorting Provided</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>IV</th>
            <th>Check LED induction and Check Resetting Operation</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>V</th>
            <th>Check Watch Dog Relay Contact </th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>VI</th>
            <th>Check Name Plate data s=according to the drawings and specifications</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
    </table>


    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">3.Accuracy Check:     Ammeter Accuracy</center></th>

        </tr>

        <tr>
            <th>PHASE</th>
            <th>INJECTED CURRENT ( A)</th>
            <td colspan="2">
                MEASURED READING
            </td>
        </tr>
        <tr>
            <th></th>
            <th> </th>
            <th>In Primary(A)</th>
            <th>In Primary(B) </th>
        </tr>
        <th>R</th>
        <td rowspan="3"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>Y</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>B</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>N</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
    </table>

    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">Voltmeter Accuracy</center></th>

        </tr>
        <tr>
            <th>PHASE</th>
            <th>INJECTED VOLTAGE(V))</th>
            <td colspan="2">
                MEASURED READING
            </td>
        </tr>
        <tr>
            <th></th>
            <th> </th>
            )</th>
            <th>In Primary(V)</th>
            <th>In Primary(V) </th>
        </tr>
        <th>R</th>
        <td rowspan="3"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>Y</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>B</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>N</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
    </table>


    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">4.	Pick Up – Drop off Test I> and Ie> Element</center></th>

        </tr>
        <tr>
            <th>PHASE</th>
            <th>RELAY SETTING</th>
            <th>PICKUP CURRENT</th>
            <th>DROP OFF CURRENT</th>

        </tr>
        <tr>
            <th>R</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>Y</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>B</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>EF</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>

        </tr>
    </table>
    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr>
            <th></th>
            <th>Tested By</th>
            <th>Quality Control Engineer</th>
            <th>Project Manager</th>

        </tr>
        <tr>
            <th>Name</th>
            <th><input type="text" class="form-control"></th>
            <th><input type="text" class="form-control"></th>
            <th><input type="text" class="form-control"></th>

        </tr>
        <tr>
            <th>Sign</th>
            <th><input type="text" class="form-control"></th>
            <th><input type="text" class="form-control"></th>
            <th><input type="text" class="form-control"></th>
        <tr>
            <th>Date</th>
            <th><input type="text" class="form-control"></th>
            <th><input type="text" class="form-control"></th>
            <th><input type="text" class="form-control"></th>
        </tr>

    </table>
</div>
<div class="table-responsive-sm">
    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">SECONDARY INJECTION (O/C, E/F,UNDER-OVER VOLTAGE) TEST FORM</center></th>

        </tr>

        <tr>
            <th colspan="6">TAMCO Middle East</th>

        </tr>
        <tr>
            <th>Customer/Client</th>
            <td colspan="3"><input type="text" width="30px;" class="form-control"></th>
            <th>ENQ/Job Number</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <td colspan="1">Project Title </th>
            <td colspan="5"><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>Switchgear Board Ref:</th>
            <td colspan="3"><input type="text" width="30px;" class="form-control"></th>
            <th>Panel Ref:</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
    </table>


    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">5.	Pick Up – Drop off Test I> and Ie> Element</center></th>

        </tr>
        <tr>
            <th>PHASE</th>
            <th>RELAY SETTING</th>
            <th>PICKUP CURRENT</th>
            <th>DROP OFF CURRENT</th>

        </tr>
        <tr>
            <th>R</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>Y</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>B</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>EF</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>

        </tr>
    </table>



    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">6.	Operating Time – tI>and tIe> Element</center></th>

        </tr>
        <tr>
            <th>PHASE</th>
            <th>RELAY SETTING (Is)</th>
            <th>TIME MULTIPLIER SETTING(TMS)</th>
            <td colspan="4">
                OPERATING TIME (sec)
            </td>
        </tr>
        <tr>
            <th></th>
            <th> </th>
            <th> </th>

            <td colspan="2"><b> 2 X Is</b></th>
            <td colspan="2"><b> 5 x Is</b> </th>
        </tr>
        <tr>
            <th></th>
            <th> </th>
            <th> </th>

            <th>Actual</th>
            <th>Measured </th>
            <th>Actual</th>
            <th>Measured </th>
        </tr>
        <th>R</th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>Y</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>



        </tr>
        <tr>
            <th>B</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>

        <tr>
            <th>EF</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
    </table>
    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="7"><center style="font-size:larger;color:white">7.	Operating Time – tI>>and tIe>> Element</center></th>

        </tr>

        <tr>
            <th>PHASE</th>
            <th>RELAY SETTING (Is)</th>
            <th>TIME SETTING</th>
            <th>OPERATING TIME  2 X Is (sec)</th>
        </tr>
        <tr>
        </tr>
        <th>R</th>
        <td rowspan="3"></th>
        <td rowspan="3"> </th>
        <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <th>Y</th>
            <th><input type="text" width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>B</th>
            <th><input type="text" width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>EF</th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>

        </tr>
    </table>
    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">8.	Under Voltage 27 Stage – 1</center></th>

        </tr>
        <tr>
            <th>Setting Voltage</th>
            <th>Pick up</th>
            <th>Drop out</th>
            <th>Setting Time(Sec)</th>
            <th>Operated Time(Sec)</th>
        </tr>



        <tr>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
    </table>
    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr>
            <th></th>
            <th>Tested By</th>
            <th>Quality Control Engineer</th>
            <th>Project Manager</th>

        </tr>
        <tr>
            <th>Name</th>
            <th><input type="text" class="form-control"></th>
            <th><input type="text" class="form-control"></th>
            <th><input type="text" class="form-control"></th>

        </tr>
        <tr>
            <th>Sign</th>
            <th><input type="text" class="form-control"></th>
            <th><input type="text" class="form-control"></th>
            <th><input type="text" class="form-control"></th>
        <tr>
            <th>Date</th>
            <th><input type="text" class="form-control"></th>
            <th><input type="text" class="form-control"></th>
            <th><input type="text" class="form-control"></th>
        </tr>

    </table>
    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">SECONDARY INJECTION (O/C, E/F,UNDER-OVER VOLTAGE) TEST FORM </center></th>

        </tr>
        <tr>
            <th colspan="6">TAMCO Middle East</th>

        </tr>
        <tr>
            <th>Customer/Client</th>
            <td colspan="3"><input type="text" width="30px;" class="form-control"></th>
            <th>ENQ/Job Number</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
        <tr>
            <td colspan="1">Project Title </th>
            <td colspan="5"><input type="text" leght="100px" ;width="30px;" class="form-control"></th>

        </tr>
        <tr>
            <th>Switchgear Board Ref:</th>
            <td colspan="3"><input type="text" width="30px;" class="form-control"></th>
            <th>Panel Ref:</th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>
    </table>

    <table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
        <tr style="background-color: #5f98ab;">
            <th colspan="6"><center style="font-size:larger;color:white">9.	Over Voltage 59 Stage - 1 </center></th>

        </tr>
        <tr>
            <th>Setting Voltage</th>
            <th>Pick up</th>
            <th>Drop out</th>
            <th>Setting Time(Sec)</th>
            <th>Operated Time(Sec)</th>
        </tr>



        <tr>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
            <th><input type="text" width="30px;" class="form-control"></th>
        </tr>

    </table>

</div>

<h6>10.	Binary Input Check      Checked the operation of Binary Inputs    </h6>
<h6>11.	Binary Input Check      Checked the operation of all output relays     </h6>
<h6>	12.	  LED Check      Checked the operation of all LED’s             </h6>
<table class="table table-bordered" style="margin-top: 20px; width: 100%; height: 70%; background-color: #f1f3ec66;">
    <tr style="background-color: #5f98ab;">
        <th colspan="6"><center style="font-size:larger;color:white">Test  Equipment Used</center></th>

    </tr>
    <tr>
        <th>Equipment Name</th>
        <th>Make/Model</th>
        <th>Serial No</th>
        <th>Calibration Due Date</th>
    </tr>


    <tr>
        <th>Secondary Injection Kit</th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

    </tr>


    <tr>
        <th>Multi Meter</th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>
        <th><input type="text" width="30px;" class="form-control"></th>

    </tr>
</table>
<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary" style="background-color:#191c3696;margin-bottom:10px;">Submit</button>
</div>
