
@{
    ViewBag.Title = "QF9ZE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            background-color: #f1f3ec66;
            margin-top: 20px;
            width: 100%;
            height: 70%;
        }
        table, th {
            text-align: center;
        }

        .table-bordered {
            border-bottom: 1px solid black;
        }

    </style>

    <div class="table-responsive-sm">
        <div class="main_heading" style="background-color: #018bd3;height: 70px;">
            <h3 style="text-align: center; padding-top:18px;color: white;"><b>DIELECTRIC WITHSTAND TEST</b> </h3>
        </div>

        <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%;background-color: #f1f3ec66;">
            <tr style="background-color:#5f98ab;">
                <th colspan="12"><center style="font-size:larger;color:white">EQUIPMENT  FAULT  REPORT</center></th>

            </tr>


            <tr>
                <th>FR#</th>
                <td colspan="3"><input type="text" width="30px;" class="form-control"></th>
                <th>Date</th>
                <th><input type="text" width="30px;" class="form-control"></th>
            </tr>

        </table>

        <table class="table table-bordered" style="style=" margin-top:10px; width:100%; height:70%;background-color: #f1f3ec66;">


            <tr style="background-color: #5f98ab;">
                <th colspan="12"><center style="font-size:larger;color:white">INSTRUMENT DATA</center></th>

            </tr>

            <tr>
                <th>Description</th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th>Make/Model No:</th>
                <th><input type="text" width="10px;" class="form-control"></th>
            </tr>
            <tr>
                <th>Serial Number</th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th>Tag Number/Dept. :</th>
                <th><input type="text" width="10px;" class="form-control"></th>
            </tr>

            <tr>
                <th>Part Number:</th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th>Range:</th>
                <th><input type="text" width="10px;" class="form-control"></th>
            </tr>
        </table>




        <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color:#f1f3ec66;">
            <tr style="background-color:#5f98ab;">
                <th colspan="12"><center style="font-size:larger;color:white">Insulation Resistance Test</center></th>

            </tr>

            <tr>
                <th>2.Fault</th>
                <th colspan="3"><input type="text" width="10px;" class="form-control"></th>


            </tr>
            <tr>
                <th>Initiated By:</th>
                <th><input type="text" width="10px;" class="form-control"></th>

                <th>Date</th>
                <th><input type="date" width="10px;" class="form-control"></th>
            </tr>


        </table>


        <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
            <tr style="background-color: #5f98ab;">
                <th colspan="12"><center style="font-size:larger;color:white">Insulation Resistance Test</center></th>

            </tr>

            <tr>
                <th>3. OBSERVATIONt</th>
                <th colspan="3"><input type="text" width="10px;" class="form-control"></th>


            </tr>
            <tr>
                <th>Initiated By:</th>
                <th><input type="text" width="10px;" class="form-control"></th>

                <th>Date</th>
                <th><input type="date" width="10px;" class="form-control"></th>
            </tr>


        </table>


        <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
            <tr style="background-color: #5f98ab;">
                <th colspan="12"><center style="font-size:larger;color:white">Insulation Resistance Test</center></th>

            </tr>

            <tr>
                <th>4. RECOMMENDATION</th>
                <th colspan="3"><input type="text" width="10px;" class="form-control"></th>


            </tr>
            <tr>
                <th>Action Implemented By:</th>
                <th><input type="text" width="10px;" class="form-control"></th>

                <th>Date</th>
                <th><input type="date" width="10px;" class="form-control"></th>
            </tr>


        </table>



        <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
            <tr style="background-color:#5f98ab;">
                <th colspan="12"><center style="font-size:larger;color:white">Insulation Resistance Test</center></th>

            </tr>

            <tr>
                <th colspan="6">
                    5. DISPOSITION

                </th>
                <th colspan="3"><input type="text" width="10px;" class="form-control"></th>


            </tr>


        </table>
        <button type="button" class="btn btn-primary" style="background-color: #191c3696">Submit</button>
    </div>
