
@{
    ViewBag.Title = "SiteInstrument";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <style>
        table, th, td {
            border: 2px solid black;
            border-collapse: collapse;
        }

        table, th {
            text-align: center;
        }

        .table-bordered {
            border-bottom: 1px solid black;
        }
    </style>
    <div class="table-responsive-sm">
        <div class="main_heading" style="background-color: #018bd3;height: 70px;">
            <h3 style="text-align: center; padding-top:18px;color: white;"><b>DIELECTRIC WITHSTAND TEST</b> </h3>
        </div>

        <table class="table table-bordered" style="margin-top: 10px; width: 100%; height: 70%; background-color: #f1f3ec66;">
            <tr style="background-color: #5f98ab;">
                <th colspan="12"><center style="font-size:larger;color:white">Site Instrument Register-1</center></th>

            </tr>





            <tr>
                <th>Description</th>
                <th>Manuf</th>
                <th>Type</th>
                <th>Serial No</th>
                <th>
                    Calibration Date
                </th>
                <th>
                    Calibration Certificate No.

                </th>
                <th>
                    Issued by

                </th>
                <th>
                    Remarks
                </th>

            </tr>

            <tr>
                <th>
                    Insulation/Continuity Tester
                </th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th>
                    <input type="text" width="10px;" class="form-control">
                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">

                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">

                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">
                </th>

            </tr>



            <tr>
                <th>
                    Hi voltage Tester

                </th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th>
                    <input type="text" width="10px;" class="form-control">
                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">

                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">

                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">
                </th>

            </tr>


            <tr>
                <th>
                    1:Multi Meter


                </th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th>
                    <input type="text" width="10px;" class="form-control">
                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">

                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">

                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">
                </th>

            </tr>


            <tr>
                <th>
                    2:Multi Meter


                </th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th>
                    <input type="text" width="10px;" class="form-control">
                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">

                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">

                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">
                </th>

            </tr>

            <tr>
                <th>
                    Clamp Meter


                </th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th>
                    <input type="text" width="10px;" class="form-control">
                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">

                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">

                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">
                </th>

            </tr>


            <tr>
                <th>
                    Current Injection Test Unit


                </th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th>
                    <input type="text" width="10px;" class="form-control">
                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">

                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">

                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">
                </th>

            </tr>


            <tr>
                <th>
                    Phase Rotation Meter



                </th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th>
                    <input type="text" width="10px;" class="form-control">
                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">

                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">

                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">
                </th>

            </tr>



            <tr>
                <th>
                    Analogue Source/Meter



                </th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th>
                    <input type="text" width="10px;" class="form-control">
                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">

                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">

                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">
                </th>

            </tr>

            <tr>
                <th>
                    Ductor - Microhm Tester



                </th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th>
                    <input type="text" width="10px;" class="form-control">
                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">

                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">

                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">
                </th>

            </tr>



            <tr>
                <th>
                    Secondary Injection Tester




                </th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th><input type="text" width="10px;" class="form-control"></th>
                <th>
                    <input type="text" width="10px;" class="form-control">
                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">

                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">

                </th>
                <th>
                    <input type="text" width="10px;" class="form-control">
                </th>

            </tr>



        </table>
        <button type="button" class="btn btn-primary" style="background-color: #191c3696;margin-bottom:10px;">Submit</button>

    </div>

